﻿@model IEnumerable<ViewModel.ListValue>

<select id="column-list-ctrl" class="custom-select">
    @foreach (var item in @Model)
    {
        <option id="@item.Value" value="@item.Value">@item.Value</option>
    }
</select>

<script>
    $(document).ready(function(){
        $('#column-list-ctrl').val(currentcols)
    })

    $('#column-list-ctrl').on('change', function(){
        GetList(currentPage, rowsPerpage, currentSearch, $(this).val(), currentasc);
    })
</script>