﻿@model ViewModel.PasienViewModel

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" method="post" id="form-create" name="form-create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="fullname" class="control-label">Nama Lengkap*</label>
                <input asp-for="fullname" class="form-control" />
                <span asp-validation-for="fullname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dob" class="control-label">Tanggal Lahir*</label>
                <input asp-for="dob" class="form-control" />
                <span asp-validation-for="dob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gender" class="control-label col-sm-5 text-left">Jenis Kelamin*</label>
                <div class="form-check form-check-inline">
                    <input asp-for="gender" class="form-check-input" type="radio" name="gender" id="L" value="L" />
                    <label asp-for="gender" class="form-check-label" for="L">Laki-Laki</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="gender" class="form-check-input" type="radio" name="gender" id="P" value="P" />
                    <label asp-for="gender" class="form-check-label" for="P">Perempuan</label>
                </div>
                <br><span asp-validation-for="gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="blood_group_id" class="control-label">Golongan Darah/Rhesus</label>
                <div class="row">
                    <div class="col-md-5">
                        @Html.DropDownListFor(model => model.blood_group_id, (IEnumerable<SelectListItem>)ViewBag.BloodList, "--Pilih--", new { @class="form-control"})
                        <span asp-validation-for="blood_group_id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input asp-for="rhesus_type" class="form-check-input" type="radio" name="rhesus_type" id="Rh+" value="Rh+" />
                            <label asp-for="rhesus_type" class="form-check-label" for="Rh+">Rh+</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input asp-for="rhesus_type" class="form-check-input" type="radio" name="rhesus_type" id="Rh-" value="Rh-" />
                            <label asp-for="rhesus_type" class="form-check-label" for="Rh-">Rh-</label>
                        </div>
                        <br><span asp-validation-for="rhesus_type" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="height" class="control-label">Tinggi Badan</label>
                <input asp-for="height" class="form-control" />
                <span asp-validation-for="height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="weight" class="control-label">Berat Badan</label>
                <input asp-for="weight" class="form-control" />
                <span asp-validation-for="weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="customer_relation_id" class="control-label">Relasi*</label>
                @Html.DropDownListFor(model => model.customer_relation_id, (IEnumerable<SelectListItem>)ViewBag.RelationList, "--Pilih--", new { @class = "form-control" })
                <span asp-validation-for="customer_relation_id" class="text-danger"></span>
            </div>
            <p class="text-danger">@ViewBag.ErrorMessage</p>
            <div class="form-group">
                <input type="submit" value="Tambah" class="btn btn-primary" />
                <input type="button" value="Batal" data-dismiss="modal" onclick="GetList()" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>

<script>
    $('#form-create').submit(function() {
        var dataForm = new FormData($(this)[0]);
        console.log(dataForm);
        $.ajax({
            url: this.action,
            type: this.method,
            data: dataForm,
            processData: false,
            contentType: false,
            success: function(result) {
                $('.modal-body').html(result);
            }
        })
        return false;
    });
</script>