﻿@model ViewModel.PasienViewModel

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" method="post" id="form-edit" name="form-edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.id)
            <div class="form-group">
                <label asp-for="fullname" class="control-label"></label>
                <input asp-for="fullname" class="form-control" />
                <span asp-validation-for="fullname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dob" class="control-label"></label>
                <input asp-for="dob" class="form-control" />
                <span asp-validation-for="dob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gender" class="control-label"></label>
                <input asp-for="gender" class="form-control" />
                <span asp-validation-for="gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="blood_group_id" class="control-label"></label>
                @Html.DropDownListFor(model => model.blood_group_id, (IEnumerable<SelectListItem>)ViewBag.BloodList, "--Pilih--",
                    new { @class="form-control"})
                <span asp-validation-for="blood_group_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rhesus_type" class="control-label"></label>
                <input asp-for="rhesus_type" class="form-control" />
                <span asp-validation-for="rhesus_type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="height" class="control-label"></label>
                <input asp-for="height" class="form-control" />
                <span asp-validation-for="height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="weight" class="control-label"></label>
                <input asp-for="weight" class="form-control" />
                <span asp-validation-for="weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Simpan" class="btn btn-primary" />
                <input type="button" value="Batal" data-dismiss="modal" onclick="GetList()" class="btn btn-secondary"/>
            </div>
        </form>
    </div>
</div>
                
<script>
    $('#form-edit').submit(function() {
        var dataForm = new FormData($(this)[0]);
        $.ajax({
            url: this.action,
            type: this.method,
            data: dataForm,
            processData: false,
            contentType: false,
            success: function(result) {
                $('.modal-body').html(result);
            }
        })
        return false;
    });
</script>