﻿@model IEnumerable<ViewModel.PasienViewModel>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fullname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bloodname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rhesus_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.weight)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fullname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dob)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bloodname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rhesus_type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.height)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.weight)
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-info btn-edit" data-id="@item.id"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-danger btn-delete" data-id="@item.id"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function() {
        GetController();
    })

    function GetController() {
        $.ajax({
            url: '@Url.Action("GetListRow","Utilities")',
            type: 'get',
            success: function(result) {
                $('#row-page').html(result);
            }
        })

        $.ajax({
            url: '@Url.Action("Sorting","Utilities")',
            type: 'get',
            success: function(result) {
                $('#column-list').html(result);
            }
        })
        $.ajax({
            url: '@Url.Action("Columns","Bank")',
            type: 'get',
            success: function(result) {
                $('#sorting-list').html(result);
            }
        })
    }

    $('.btn-search').click(function () {
        GetList(currentPage, rowsPerpage, $('#myInput').val(), currentcolumn, currentascen);
    });

    $('.btn-edit').click(function() {
        $.ajax({
            url: '@Url.Action("Edit")',
            type: 'get',
            data: { id: $(this).attr('data-id') },
            success: function(result) {
                $('.modal-title').html('Ubah');
                $('.modal-body').html(result);
                $('#form-modal').modal('show');
            }
        })
    });

    $('.btn-delete').click(function() {
        $.ajax({
            url: '@Url.Action("Delete")',
            type: 'get',
            data: { id: $(this).attr('data-id') },
            success: function(result) {
                $('.modal-title').html('Hapus');
                $('.modal-body').html(result);
                $('#form-modal').modal('show');
            }
        })
    });
</script>
