﻿@using WebApp.Security
@{
    ViewData["Title"] = "Daftar Pasien";
}


<div class="container emp-profile">
    <div class="row">
        <div class="col-md-3">
            <div class="profile-img text-center align-middle">
                <p>
                    <img src="~/dist/img/AdminLTELogo.png" class="brand-image img-circle width="175" height="175" alt="Photo Profile">
                </p>
            </div>
        </div>
        <div class="col-md-9">
            <table style="height: 100%">
                <tbody>
                    <tr>
                        <td class="align-bottom">
                            <div class="profile-head align-middle">
                                <h1>@ViewData["Title"]</h1>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div>
                <table style="height: 100%">
                    <tbody>
                        <tr>
                            <td>
                                <br>
                                <div class="profile-head align-middle">
                                    <h5 class="text-md-right">@ContextAccessor.GetFullName()</h5>
                                </div>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>
                                <div class="profile-head align-middle text-blue">
                                    <a class="btn btn-link" id="btn-pasien" href=""><h6>Pasien</h6></a>
                                </div>
                                <div class="profile-head align-middle text-blue">
                                    <a class="btn btn-link" id="btn-obat" href=""><h6>Pembelian Obat</h6></a>
                                </div>
                                <div class="profile-head align-middle text-blue">
                                    <a class="btn btn-link" id="btn-kedatangan" href=""><h6>Rencana Kedatangan</h6></a>
                                </div>
                                <div class="profile-head text-blue">
                                    <a class="btn btn-link" id="btn-chat" href=""><h6>Riwayat Chat Dokter</h6></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-9">
            <div>
                <div class="card">
                    <h5 class="card-header">
                        <div class="container">
                            <div class="row">
                                <div class="input-group col-8">
                                    <input type="text" class="rounded" id="searchNama" onkeyup="myFunction()" onclick="GetList()" placeholder="Search by Nama">
                                    <button type="button" class="btn btn-outline-primary btn-search">search</button>
                                </div>
                            </div>
                            <div class="row">
                                <br/>
                            </div>
                            <div class="row">
                                <div class="input-group col-8">
                                    <button type="button" class="btn btn-danger fa fa-trash btn-deleteAll"> Hapus</button>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-link fa fa-sort" id="btn-sort"> A - Z</button>|
                                    <button type="button" class="btn btn-link fa fa-sort" id="btn-page"> 10</button>|
                                    <button type="button" class="btn btn-link fa fa-user-plus" id="btn-create"> Tambah</button>
                                </div>
                            </div>
                        </div>
                    </h5>
                    <div class="card-body">
                        <div class="table-responsive" id="panel-body">
                            Loading...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-label">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Loading...
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var currentPage = 1;
        var rowsPerpage = 3;
        var currentSearch = "";
        var currentcols = "name";
        var currentasc = "true";
        $(document).ready(function() {
            GetList(currentPage, rowsPerpage, currentSearch, currentcols, currentasc);
        })

        function GetList(page, rows, search, cols, asc) {
            currentPage = page;
            rowsPerpage = rows;
            currentSearch = search;
            currentcols = cols;
            currentasc = asc;
            $.ajax({
                url: '@Url.Action("ListPage")',
                type: 'get',
                data: { page: page, rows: rowsPerpage, search: currentSearch, cols: currentcols, asc: currentasc },
                success: function(result) {
                    $("#panel-body").html(result)
                }
            });
        }

        $('#btn-create').click(function() {
            $.ajax({
                url: '@Url.Action("Create")',
                type: 'get',
                success: function(result) {
                    $('.modal-body').html(result);
                }
            })
            $('.modal-title').html('Tambah Pasien');
            $('#form-modal').modal('show');
        });
    </script>
}