﻿@model ViewModel.LocationLevelViewModel

<h3>Are you sure you want to delete this?</h3>
<div>    
    
    <form asp-action="Delete" method="post" id="form-delete" name="form-delete">
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.name)
        @Html.HiddenFor(model => model.abbreviation)

        <input type="submit" value="Delete" class="btn btn-danger" /> |        
    </form>
</div>

<script type="text/javascript">
    $('#form-delete').submit(function () {
        var dataForm = new FormData($(this)[0]);
        $.ajax({
            url: this.action,
            type: this.method,
            data: dataForm,
            processData: false,
            contentType: false,
            success: function (result) {
                $('.modal-body').html(result);
            }
        })
        return false;
    });
</script>