﻿@model IEnumerable<ViewModel.LocationLevelViewModel>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.abbreviation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.abbreviation)
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-warning btn-edit col-sm-6" data-id="@item.id">U</button>
                        <button type="button" class="btn btn-danger btn-delete col-sm-6" data-id="@item.id">H</button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $('.btn-edit').click(function () {
        $.ajax({
            url: '@Url.Action("Edit")',
            type: 'get',
            data: { id: $(this).attr('data-id') },
            success: function (result) {
                $('.modal-title').html('Edit');
                $('.modal-body').html(result);
                $('#form-modal').modal('show');
            }
        })
    });

    $('.btn-details').click(function () {
        $.ajax({
            url: '@Url.Action("details")',
            type: 'get',
            data: { id: $(this).attr('data-id') },
            success: function (result) {
                $('.modal-title').html('Details');
                $('.modal-body').html(result);
                $('#form-modal').modal('show');
            }
        })
    });

    $('.btn-delete').click(function () {
        $.ajax({
            url: '@Url.Action("delete")',
            type: 'get',
            data: { id: $(this).attr('data-id') },
            success: function (result) {
                $('.modal-title').html('Delete');
                $('.modal-body').html(result);
                $('#form-modal').modal('show');
            }
        })
    });
</script>
