﻿@model ViewModel.PendaftaranViewModel

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" method="post" id="form-create" name="form-create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>                                   
            <div class="form-group">
                <label asp-for="email" class="control-label">E-mail</label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="token" class="control-label">Token</label>
                <input asp-for="token" class="form-control" />
                <span asp-validation-for="token" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="password" class="control-label">Password</label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>            

            <div class="form-group">
                <label asp-for="fullname" class="control-label">Fullname</label>
                <input asp-for="fullname" class="form-control" />
                <span asp-validation-for="fullname" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="mobile_phone" class="control-label">Mobile Phone</label>
                <input asp-for="mobile_phone" class="form-control" />
                <span asp-validation-for="mobile_phone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="role_id" class="control-label">Pilih Sebagai</label>
                @Html.DropDownListFor(model => model.role_id, (IEnumerable<SelectListItem>)ViewBag.RoleId, "Pilih Sebagai", new { @class = "form-control" })
                <span asp-validation-for="role_id" class="text-danger"></span>
            </div>

            <p class="text-danger">@ViewBag.ErrorMessage</p>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <input type="button" value="Cancel" data-dismiss="modal" onclick="GetList(currentPage, rowsPerpage)" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<script>
    $('#form-create').submit(function () {
        var dataForm = new FormData($(this)[0]);
        console.log(dataForm);
        $.ajax({
            url: this.action,
            type: this.method,
            data: dataForm,
            processData: false,
            contentType: false,
            success: function (result) {
                $('.modal-body').html(result);
            }
        })
        return false;
    });
</script>

