﻿@model ViewModel.BloodGroupViewModel


<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" method="post" id="form-edit" name="form-edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>  
            @Html.HiddenFor(model => model.id)
            <div class="form-group">
                <label asp-for="code" class="control-label">Kode</label>
                <input asp-for="code" class="form-control" />
                <span asp-validation-for="code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label">Deskripsi</label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <p class="text-danger">@ViewBag.ErrorMessage</p>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <input type="button" value="Close" data-dismiss="modal" onclick="GetList()" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>

<script>
    $('#form-edit').submit(function () {
        var dataForm = new FormData($(this)[0]);
        console.log(dataForm);
        $.ajax({
            url: this.action,
            type: this.method,
            data: dataForm,
            processData: false,
            contentType: false,
            success: function (result) {
                $('.modal-body').html(result);
            }
        })
        return false;
    });
</script>


