﻿@model IEnumerable<ViewModel.WalletDefaultNominalViewModel>

@foreach (var item in Model)
{
    <button type="button" class="btn btn-primary">
        @Html.DisplayFor(modelItem => item.nominal)
    </button>
}
