﻿@model IEnumerable<ViewModel.CustomerCustomNominalViewModel>

@foreach (var item in Model) {
<button type="button" class="btn btn-primary">
    @Html.DisplayFor(modelItem => item.nominal)
</button>
}
<button type="button" class="btn btn-primary ml-auto" data-toggle="modal" id="btn-create">Nominal Lain</button>

<script>
    $('#btn-create').click(function () {
        $.ajax({
                url: '@Url.Action("Create")',
                type: 'get',
                success: function (result) {
                    $('.modal-body').html(result);
                }
        })
            $('.modal-title').html('Tambah Data');
            $('#exampleModal').modal('show');
    })

</script>
