﻿@using WebApp.Security
@model ViewModel.CustomerWalletViewModel
<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-3">
                <div class=" text-center">
                    <div class="profile-img">
                        <p>
                            <i class="col-md-12 fa fa-pencil text-left" aria-hidden="true"></i>
                            <img src="~/dist/img/user2-160x160.jpg" class="brand-image img-circle width="150" height="150" alt="Photo Profile">
                        </p>
                        <a class="proile-rating"><span> ⭐ </span></a>
                        <h4 class="text-primary" id="member"> Bronze Member </h4>
                        <p id="Tahun"> 0 </p>
                        <p></p>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="col-md-12 text-left">
                        <p class="text-primary font-weight-bolder">Pasien</p>
                        <p class="text-primary font-weight-bold"><a href="https://localhost:5002/m_medical_item">Pembelian Obat</a></p>
                        <p class="text-primary font-weight-bold">Rencana Kedatangan</p>
                        <p class="text-primary font-weight-bold">Riwayat Chat Dokter</p>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div class="col-md-9">
                <div class="">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" href="#profile" role="tab" data-toggle="tab">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#alamat" role="tab" data-toggle="tab">Alamat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#pembayaran" role="tab" data-toggle="tab">Pembayaran</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tariksaldo" role="tab" data-toggle="tab">Tarik Saldo</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content card">
                        <div role="tabpanel" class="tab-pane fade in active" id="profile">Ini Halaman Profile</div>
                        <div role="tabpanel" class="tab-pane fade" id="alamat">
                            <p>Ini Halaman alamat</p>
                            <div class="row card-body">
                                <div class="col-lg-6" style="background-color:yellow;">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>
                                <div class="col-lg-6" style="background-color:pink;">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="pembayaran">
                            Ini Halaman pembayaran
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tariksaldo">
                            <div class="row ">
                                <div class="col-6">
                                    <div class="card-body">
                                        <h5 id="Saldo"> 0 </h5>
                                        <br>
                                        <div class="my-auto justify-content-between">
                                            <div id="DefNom">...</div><div id="CustNom">...</div>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                    <div class="card-footer">
                                        <br>
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="col-6" hidden>
                                    <div class="card-body">
                                        <h5 class="card-title">Anda akan melakukan penarikan saldo sebesar : RP 100.000 </h5>
                                        <br>
                                        <br>
                                        <br>
                                        <button type="button" class="btn btn-primary col-md-12">Lanjutkan</button>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                    <div class="card-footer">
                                        <div class="pull-right ml-auto">
                                            <button type="button" class="btn btn-danger">Cancle</button>
                                            <button type="button" class="btn btn-primary">OK</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </form>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-label">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">
        $(document).ready(function() {
            GetList();
            GetList2();
            GetSaldo();
            GetTahun();
        });

        function GetList() {
            $.ajax({
                url: '@Url.Action("List")',
                type: 'get',
                success: function(result) {
                    $('#DefNom').html(result);
                }
            })
        }
        function GetList2() {
            $.ajax({
                url: '@Url.Action("List2")',
                type: 'get',
                success: function(result) {
                    $('#CustNom').html(result);
                }
            })
        }
        function GetSaldo() {
            $.ajax({
                url: '@Url.Action("Identitas")',
                type: 'get',
                success: function(result) {
                    $('#Saldo').html(result);
                }
            })
        }
        function GetTahun() {
            $.ajax({
                url: '@Url.Action("Identitas1")',
                type: 'get',
                success: function(result) {
                    $('#Tahun').html(result);
                }
            })
        }
        $('#btn-custnom').click(function() {
            $.ajax({
                url: '@Url.Action("Create")',
                type: 'get',
                success: function(result) {
                    $('.modal-body').html(result);
                }
            })
            $('.modal-title').html('Tambah Data');
            $('#exampleModal').modal('show');
        })

        $('#btn-create').click(function() {
            $.ajax({
                url: '@Url.Action("Create")',
                type: 'get',
                success: function(result) {
                    $('.modal-body').html(result);
                }
            })
            $('.modal-title').html('Tambah Data');
            $('#exampleModal').modal('show');
        })
    </script>
}

