﻿@model ViewModel.EducationLevelViewModel

<h3>Apakah kamu yakin ingin menghapus data @Model.name ?</h3>
<div>
    <hr />
    <dl class="row">

    </dl>
    
    <form asp-action="Delete" method="post" id="form-delete" name="form-delete">
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.name)
        <input type="submit" value="Hapus" class="btn btn-danger" />
        <input type="button" value="Batal" data-dismiss="modal" onclick="GetList()" class="btn btn-secondary" />
    </form>
</div>

<script>
    $('#form-delete').submit(function() {
        var dataForm = new FormData($(this)[0]);
        $.ajax({
            url: this.action,
            type: this.method,
            data: dataForm,
            processData: false,
            contentType: false,
            success: function(result) {
                $('.modal-body').html(result);
            }
        })
        return false;
    });
</script>
