﻿@model IEnumerable<ViewModel.EducationLevelViewModel>

<h4 class="text-danger text-center">@ViewBag.Error</h4>
<h4 class="text-blue text-center">@ViewBag.Result</h4>
<table class="table">
    <thead>
        <tr>
            <th class="col-md-4">
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th class="col-md-4">
                Dibuat Oleh
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <div class="col-sm-4">
        <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Cari" aria-label="Search" aria-describedby="search-addon" />
            <button type="button" class="btn btn-outline-primary btn-search">Cari</button>
        </div>
    </div>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dibuat_oleh)
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-primary btn-edit" data-id="@item.id"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-danger btn-delete" data-id="@item.id"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $('.btn-search').click(function () {
        $.ajax({
            url: '@Url.Action("search")',
            type: 'get',
            data: { name: $('.rounded').val() },
            success: function (result) {
                $('.modal-title').html('search');
                $('#panel-body').html(result);
                
            }
        })
    });

    $('.btn-edit').click(function () {
        $.ajax({
            url: '@Url.Action("Edit")',
            type: 'get',
            data: { id: $(this).attr('data-id') },
            success: function (result) {
                $('.modal-title').html('Edit');
                $('.modal-body').html(result);
                $('#form-modal').modal('show');
            }
        })
    });

    $('.btn-details').click(function () {
        $.ajax({
            url: '@Url.Action("Details")',
            type: 'get',
            data: { id: $(this).attr('data-id') },
            success: function (result) {
                $('.modal-title').html('Details');
                $('.modal-body').html(result);
                $('#form-modal').modal('show');
            }
        })
    });

    $('.btn-delete').click(function () {
        $.ajax({
            url: '@Url.Action("Delete")',
            type: 'get',
            data: { id: $(this).attr('data-id') },
            success: function (result) {
                $('.modal-title').html('Delete');
                $('.modal-body').html(result);
                $('#form-modal').modal('show');
            }
        })
    });
</script>

