﻿@model ViewModel.ItemCategoryViewModel

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
    </dl>
</div>
<input type="button" value="Close" data-dismiss="modal" class="btn btn-secondary" />
