﻿@model IEnumerable<ViewModel.ItemCategoryViewModel>
<div class="card-body">
    <form class="form-inline">
        <div class="input-group input-group-sm">
            <div class="input-group-append">
                @*<input type="search" class="form-control rounded" id="myInput" onkeypress="myFunction()" placeholder="Cari Kata" aria-label="Search" aria-describedby="cari-addon" />
                    <button type="button" class="btn btn-primary btn-search"> Cari </button>*@
                <input type="search" class="form-control rounded btn-input" id="myInput" value="@ViewData["SearchText"]" placeholder="Cari Kata" aria-label="Search" aria-describedby="search-addon" />
                <button type="button" class="btn btn-primary btn-search" id="searching"> Cari </button>
            </div>
        </div>
        <button type="button" class="btn btn-success ml-auto" id="btn-create">Tambah data</button>
    </form>
</div>
<table class="table" cellpadding="0" cellspacing="0" style="width: 100%">
    <thead>
        <tr>
            <th class="col-md-10">Nama</th>
            <th>nama pengubah</th>
            <th>Aksi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pengubah)
                </td>
                <td>
                    <div class="btn-group btn-group-toggle ml-auto" role="group" data-toggle="buttons">
                        <button class="btn btn-primary btn-edit" data-id="@item.id" )><i class="fa fa-edit"></i></button>
                        <button class="btn btn-danger btn-delete" data-id="@item.id" @(item.is_delete ? "disabled" : "")><i class="fa fa-trash"></i></button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination ml-auto">
        @for (int I = 1; I <= ViewBag.Pages; I++)
        {
            <li class="page-item"><a class="page-link btn-link-page" data-id="@I" onclick="GetList(@I, rowsPerpage, currentSearch)">@I</a></li>
        }
    </ul>
</nav>

<p class="text-lg-center">@ViewBag.Cari</p>

<script>

    $('#btn-create').click(function () {
        $.ajax({
                url: '@Url.Action("Create")',
                type: 'get',
                success: function (result) {
                    $('.modal-body').html(result);
                }
        })
            $('.modal-title').html('Tambah Data');
            $('#exampleModal').modal('show');
    })

    $('.btn-edit').click(function () {
        $.ajax({
            url: '@Url.Action("Edit")',
            type: 'get',
            data: { id: $(this).attr('data-id')},
            success: function (result) {
                $('.modal-title').html('Ubah');
                $('.modal-body').html(result);
                $('#exampleModal').modal('show');
            }
        })
    })

    $('.btn-detail').click(function () {
       $.ajax({
            url: '@Url.Action("Details")',
            type: 'get',
            data: { id: $(this).attr('data-id')},
            success: function (result) {
                $('.modal-title').html('Details');
                $('.modal-body').html(result);
                $('#exampleModal').modal('show');
            }
        })
    })
    $('.btn-delete').click(function () {
       $.ajax({
            url: '@Url.Action("Delete")',
            type: 'get',
            data: { id: $(this).attr('data-id')},
            success: function (result) {
                $('.modal-title').html('Hapus !');
                $('.modal-body').html(result);
                $('#exampleModal').modal('show');
            }
        })
    })

    @*$('.btn-search').click(function () {
            $.ajax({
                url: '@Url.Action("ListPage")',
                type: 'get',
                data: { name: $('#myInput').val() },
                success: function (result) {
                    $('#panel-body').html(result);
                }
            })
        });

    $('#myInput').change(function () {
            $.ajax({
                url: '@Url.Action("ListPage")',
                type: 'get',
                data: { name: $('#myInput').val() },
                success: function (result) {
                    $('#panel-body').html(result);
                }
            })
    });*@

    $('.btn-search').click(function () {
        GetList(currentPage, rowsPerpage, $('#myInput').val());
    });

</script>
