﻿@model ViewModel.ItemCategoryViewModel
@{ 
    string customStyle = "";
    switch (ViewBag.Title)
    {
        case "Tambah":
            customStyle = "text-success";
            break;
        case "Ubah":
            customStyle = "text-warning";
            break;
        default:
            customStyle = "text-danger";
            break;
    }

}
<h2 class="@customStyle">@ViewBag.Title Data Berhasil</h2>
<p>@Html.DisplayFor(model => model.name) telah @ViewBag.Status!</p>
<input type="button" value="Close" data-dismiss="modal" onclick="GetList(currentPage, rowsPerpage)" class="btn btn-secondary" />
<script>
    $(document).ready(function () {
        GetList(currentPage, rowsPerpage);
    });
</script>