﻿@model ViewModel.TabAlamatViewModel


<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" method="post" id="form-create" Nama="form-create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="biodata_id" class="control-label"></label>
                <input asp-for="biodata_id" class="form-control" />
                <span asp-validation-for="biodata_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="label" class="control-label"></label>
                <input asp-for="label" class="form-control" />
                <span asp-validation-for="label" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="recipient" class="control-label"></label>
                <input asp-for="recipient" class="form-control" />
                <span asp-validation-for="recipient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="recipient_phone_number" class="control-label"></label>
                <input asp-for="recipient_phone_number" class="form-control" />
                <span asp-validation-for="recipient_phone_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="kota" class="control-label"></label>
                @Html.DropDownListFor(model => model.location_id, (IEnumerable<SelectListItem>)ViewBag.Location, "Pilih Kota", new { @class = "form-control" })
                <span asp-validation-for="kota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="postal_code" class="control-label"></label>
                <input asp-for="postal_code" class="form-control" />
                <span asp-validation-for="postal_code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address" class="control-label"></label>
                <input asp-for="address" class="form-control" />
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <p class="text-danger">@ViewBag.ErrorMessage</p>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <input type="button" value="Cancel" data-dismiss="modal" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<script>
    $('#form-create').submit(function () {
        var dataForm = new FormData($(this)[0]);
        console.log(dataForm);
        $.ajax({
            url: this.action,
            type: this.method,
            data: dataForm,
            processData: false,
            contentType: false,
            success: function (result) {
                $('.modal-body').html(result);
            }
        })
        return false;
    });
</script>
