﻿@model ViewModel.TabAlamatViewModel

<h3>Anda yakin ingin menghapus @Html.DisplayFor(model => model.recipient)?</h3>
<div>
    <form asp-action="Delete" method="post" id="form-delete" name="form-delete">
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.label)
        @Html.HiddenFor(model => model.biodata_id)
        @Html.HiddenFor(model => model.recipient)
        @Html.HiddenFor(model => model.recipient_phone_number)
        @Html.HiddenFor(model => model.location_id)
        @Html.HiddenFor(model => model.postal_code)
        @Html.HiddenFor(model => model.address)
        <input type="submit" value="Delete" class="btn btn-danger" onclick="GetList(currentPage, rowsPerpage, currentSearch, currentcolumn, currentascen)" />
        <input type="button" value="Cancel" data-dismiss="modal" class="btn btn-secondary" />
    </form>
</div>

<script type="text/javascript">
    $('#form-delete').submit(function () {
        var dataForm = new FormData($(this)[0]);
        $.ajax({
            url: this.action,
            type: this.method,
            data: dataForm,
            processData: false,
            contentType: false,
            success: function (result) {
                $('.modal-body').html(result);
            }
        })
        return false;
    });
</script>
