﻿@model ViewModel.TabAlamatViewModel


<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" method="post" id="form-edit" name="form-edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.id)
            <div class="form-group">
                <label asp-for="label" class="control-label">label</label>
                <input asp-for="label" class="form-control" />
                <span asp-validation-for="label" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="biodata_id" class="control-label">biodata_id</label>
                <input asp-for="biodata_id" class="form-control" />
                <span asp-validation-for="biodata_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="recipient" class="control-label">recipient</label>
                <input asp-for="recipient" class="form-control" />
                <span asp-validation-for="recipient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="recipient_phone_number" class="control-label">recipient_phone_number</label>
                <input asp-for="recipient_phone_number" class="form-control" />
                <span asp-validation-for="recipient_phone_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="location_id" class="control-label">location_id</label>
                <input asp-for="location_id" class="form-control" />
                <span asp-validation-for="location_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="postal_code" class="control-label">Postal code</label>
                <input asp-for="postal_code" class="form-control" />
                <span asp-validation-for="postal_code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address" class="control-label">address*</label>
                <input asp-for="address" class="form-control" />
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <p class="text-danger">@ViewBag.ErrorMessage</p>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <input type="button" value="Cancel" data-dismiss="modal" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>


<script>
    $('#form-edit').submit(function () {
        var dataForm = new FormData($(this)[0]);
        $.ajax({
            url: this.action,
            type: this.method,
            data: dataForm,
            processData: false,
            contentType: false,
            success: function (result) {
                $('.modal-body').html(result);
            }
        })
        return false;
    });
</script>

