﻿@model IEnumerable<ViewModel.TabAlamatViewModel>

<table class="table list-table">
    <thead>
        <div class="container">
            <div class="row">
                <div class="input-group col-8">
                    <input type="text" class="form-control rounded btn-input" id="myInput" value="@ViewData["SearchText"]" placeholder="Search by Label" aria-label="Search" aria-describedby="search-addon" />
                        <button type="submit" class="btn btn-outline-primary btn-search" id="searching">Search</button>
                </div>
            </div>
            <div class="row">
                <br />
            </div>
            <div class="row">
                <div class="input-group col-8">
                    <button type="button" class="btn btn-danger fa fa-trash id = "btn-deleteAll"> Hapus</button>
                </div>
                <div>
                    |<button type="button" class="btn btn-link fa fa-user-plus" id="btn-create"> Tambah</button>
                </div>
            </div>
        </div>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.CheckBoxFor(modelItem => item.Check)
                    @Html.HiddenFor(modelItem => item.id)
                </td>
                <td>
                    <div style="color:deepskyblue"><font size="+2">@Html.DisplayFor(modelItem => item.label)</font></div>
                    <div>@Html.DisplayFor(modelItem => item.recipient) , @Html.DisplayFor(modelItem => item.recipient_phone_number)</div>
                    <div>@Html.DisplayFor(modelItem => item.address), @Html.DisplayFor(modelItem => item.kota)</div>
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-info btn-edit" data-id="@item.id"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-danger btn-delete" data-id="@item.id"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class=row>
    <div class="col-md-7">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @for (int I = 1; I <= ViewBag.Pages; I++)
                {
                    <li class="page-item"><a class="page-link btn-link-page" data-id="@I" onclick="GetList(@I, rowsPerpage, currentSearch, currentcolumn, currentascen)">@I</a></li>
                }
            </ul>
        </nav>
    </div>

    <div class="col-md-4" id="column-list">
    </div>

</div>


<script>

    $(document).ready(function () {
        GetController();
        //$("#list-page").val(rowsPerpage);
    })

    $('.btn-edit').click(function () {
        $.ajax({
            url: '@Url.Action("Edit")',
            type: 'get',
            data: { id: $(this).attr('data-id') },
            success: function (result) {
                $('.modal-title').html('Edit');
                $('.modal-body').html(result);
                $('#form-modal').modal('show');
            }
        })
    });

    function GetController() {
        $.ajax({
            url: '@Url.Action("GetListRow","Utilities")',
            type: 'get',
            success: function (result) {
                $('#row-page').html(result);
            }
        })

        $.ajax({
            url: '@Url.Action("Sorting","Utilities")',
            type: 'get',
            success: function (result) {
                $('#column-list').html(result);
            }
        })
        $.ajax({
            url: '@Url.Action("Columns","TabAlamat")',
            type: 'get',
            success: function (result) {
                $('#sorting-list').html(result);
            }
        })

    }

    $('.btn-delete').click(function () {
        $.ajax({
            url: '@Url.Action("Delete")',
            type: 'get',
            data: { id: $(this).attr('data-id') },
            success: function (result) {
                $('.modal-title').html('Delete');
                $('.modal-body').html(result);
                $('#form-modal').modal('show');
            }
        })
    });

    $('#btn-create').click(function () {
        $.ajax({
            url: '@Url.Action("Create")',
            type: 'get',
            success: function (result) {
                $('.modal-body').html(result);
            }
        })
        $('.modal-title').html('Tambah Pasien');
        $('#form-modal').modal('show');
    });
    $('#btn-deleteAll').click(function () {
        var details = [];
        $(".list-table tbody").find('tr').each(function () {
            var id = $(this).find("input[id=item_id]").val();
            var checked = $(this).find("input[id=item_Check]").is(":checked");
            var detail = {
                Id: id,
                Check: checked
            }
            details.push(detail);
        });
        $.ajax({
            url: '@Url.Action("DeleteMany")',
            type: 'post',
            data: { model: details },
            success: function (result) {
                $('.modal-body').html(result);
                $('.modal-title').html('Update list');
                $('#form-modal').modal('show');
            }
        })
    })


</script>

