﻿@using WebApp.Security

<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-3">
                <div class=" text-center">
                    <div class="profile-img">
                        <p>
                            <i class="col-md-12 fa fa-pencil text-left" aria-hidden="true"></i>
                            <img src="~/dist/img/user2-160x160.jpg" class="brand-image img-circle width="150" height="150" alt="Photo Profile">
                        </p>
                        <div class="profile-head">
                            <a class="proile-rating"><span>⭐</span></a>
                            <h4 class="text-primary">
                                @if (ContextAccessor.IsAuthenticated())
                                {
                                    <a>@ContextAccessor.GetFullName()</a>
                                }
                                Level Member
                            </h4>
                            <h6 class="font-weight-light">
                                Tahun daftar akun
                            </h6>
                        </div>
                        <p></p>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="col-md-12 text-left">
                        <p class="text-primary font-weight-bolder">Pasien</p>
                        <p class="text-primary font-weight-bold"><a href="https://localhost:5002/m_medical_item">Pembelian Obat</a></p>
                        <p class="text-primary font-weight-bold">Rencana Kedatangan</p>
                        <p class="text-primary font-weight-bold">Riwayat Chat Dokter</p>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div class="col-md-9">
                <div class="">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" href="#profile" role="tab" data-toggle="tab">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#alamat" role="tab" data-toggle="tab">Alamat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#pembayaran" role="tab" data-toggle="tab">Pembayaran</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tariksaldo" role="tab" data-toggle="tab">Tarik Saldo</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content card">
                        <div role="tabpanel" class="tab-pane fade in active" id="profile">Data Pribadi</div>
                        <div role="tabpanel" class="tab-pane fade" id="alamat">
                            <div class="row card-body">
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="pembayaran">
                            Ini Halaman pembayaran
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tariksaldo">
                            <div class="row ">
                                <div class="col-6">
                                    <div class="card-body">
                                        <h5 class="card-title">Saldo saat ini : RP 450.000</h5>
                                        <br>
                                        <br>
                                        <button type="button" class="btn btn-primary">50.000</button>
                                        <button type="button" class="btn btn-primary">100.000</button>
                                        <button type="button" class="btn btn-primary">150.000</button>
                                        <br>
                                        <br>
                                        <button type="button" class="btn btn-primary">200.000</button>
                                        <button type="button" class="btn btn-primary">Nominal Lain</button>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                    <div class="card-footer">
                                        <br>
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card-body">
                                        <h5 class="card-title">Anda akan melakukan penarikan saldo sebesar : RP 100.000 </h5>
                                        <br>
                                        <br>
                                        <br>
                                        <button type="button" class="btn btn-primary col-md-12">Lanjutkan</button>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                    <div class="card-footer">
                                        <div class="pull-right ml-auto">
                                            <button type="button" class="btn btn-danger">Cancle</button>
                                            <button type="button" class="btn btn-primary">OK</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="col-md-12 text-left">
                            <p></p>
                            <p class="text-primary font-weight-bolder">Tentang Saya</p>
                            <p class="text-primary font-weight-bold">Tindakan Medis</p>
                            <p></p>
                            <p class="text-primary font-weight-bold">Riwayat Praktek</p>
                            <div class="col-md-12 text-left">
                                <a>RS Mitra, Depok</a>
                                <pre>Dokter Anak	2019 - sekarang</pre>
                                <a>RSIA Bunda, Jakarta Pusat</a>
                                <pre>Dokter Anak	2018 - sekarang</pre>
                                <a>RSUP Hasan Sadikin, Bandung</a>
                                <pre>Dokter Anak	    2016 - 2018</pre>
                            </div>
                            <p class="text-primary font-weight-bold">Pendidikan</p>
                            <div class="col-md-12 text-left">
                                <a>Universitas Padjajaran</a>
                                <pre>Spesialis Anak		   2016</pre>
                                <a>Universitas Padjajaran</a>
                                <pre>Keddokteran Umuum	   2011</pre><br />
                            </div>
                        </div>
                    </div>
                </div>-->
            @*<div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
            <div class="tab-panel fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            </div>
            <div class="tab-panel fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            </div>
            </div>
            </div>*@
            <!--</div>-->
    </form>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-label">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            @*<div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div>*@
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var currentPage = 1;
        var rowsPerpage = 5;
        var currentSearch = "";
        var currentcolumn = "label";
        var currentascen = "true";
        $(document).ready(function () {
            GetList(currentPage, rowsPerpage, currentSearch, currentcolumn, currentascen);
        })

        function GetList(page, rows, search, column, ascen) {
            currentPage = page;
            rowsPerpage = rows;
            currentSearch = search;
            currentcolumn = column;
            currentascen = ascen;
            $.ajax({
                url: '@Url.Action("ListPage")',
                type: 'get',
                data: { page: page, rows: rowsPerpage, search: currentSearch, column: currentcolumn, ascen: currentascen },
                success: function (result) {
                    $("#alamat").html(result)
                }
            });
        }


        //function GetList(){
        //    $.ajax({
        //        url:'@Url.Action("List")',
        //        type:'get',
        //        success: function(result) {
        //            $('#panel-body').html(result)
        //        }
        //    })
        //}

        $('#btn-create').click(function () {
            $.ajax({
                url: '@Url.Action("Create")',
                type: 'get',
                success: function (result) {
                    $('.modal-body').html(result)
                }
            })
            $('.modal-title').html('Create New')
            $('#form-modal').modal('show');
        });
    </script>
}