﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="card">
    <div class="col-10">
        <h2>Cari Obat dan Alat kesehatan</h2>
        <p>Masukkan minimal 1 kata kunci untuk pencarian anda</p>
    </div>
    <div class="col-5">
        <input type="search" class="form-control rounded btn-input" id="myInput" value="@ViewData["SearchText"]" placeholder="Cari Kata" aria-label="Search" aria-describedby="search-addon" />
    </div>
    <div class="col-5 justify-content-between">
        <button type="button" class="btn btn-outline-primary btn-ulang" id="ulangi"> Atur Ulang </button>
        <button type="button" class="btn btn-primary btn-search" id="searching"> Cari </button>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        var currentPage = 1;
        var rowsPerpage = 5;
        var currentSearch = "";
        $(document).ready(function () {
            GetList(currentPage, rowsPerpage, currentSearch);
        })

        function GetList(page, rows, search) {
            currentPage = page;
            rowsPerpage = rows;
            currentSearch = search;
            $.ajax({
                url: '@Url.Action("ListPage")',
                type: 'get',
                data: { page: page, rows: rowsPerpage, search: currentSearch},
                success: function (result) {
                    $("#panel-body").html(result)
                }
            });
        }

    </script>
}