﻿@model ViewModel.MedItemViewModel

<div>
    <h4>MedItemViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.medical_item_category_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.medical_item_category_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.categoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.categoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.composition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.composition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.medical_item_segmentation_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.medical_item_segmentation_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.segmentationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.segmentationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.manufacturer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.indication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.indication)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dosage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dosage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.directions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.directions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contraindication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contraindication)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.caution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.caution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.packaging)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.packaging)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price_max)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price_max)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price_min)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price_min)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.image_path)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.image_path)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.is_delete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.is_delete)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
