﻿@model IEnumerable<ViewModel.MedItemViewModel>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-title">
                        <h5 class="card-title font-weight-bold">@Html.DisplayFor(modelItem => item.name)</h5>
                        <p class="card-text h6">
                            @Html.DisplayFor(modelItem => item.packaging)
                            Rp @Html.DisplayFor(modelItem => item.price_min) - Rp @Html.DisplayFor(modelItem => item.price_max)
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="card-group">
                            <div class="card">
                                <p class="card-text">@Html.DisplayFor(modelItem => item.indication)</p>
                            </div>
                            <div class="card">
                                <img src="@item.image" style="max-width:200px; max-height: 200px;" />
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary btn-tambahkeranjang">Tambah Keranjang</button>
                        <button class="btn btn-outline-primary btn-detail ml-auto">Detail</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    $('.btn-detail').click(function () {
       $.ajax({
            url: '@Url.Action("Details")',
            type: 'get',
            data: { id: $(this).attr('data-id')},
            success: function (result) {
                $('.modal-title').html('Details');
                $('.modal-body').html(result);
                $('#exampleModal').modal('show');
            }
        })
    })

    $('.btn-edit').click(function () {
        $.ajax({
            url: '@Url.Action("Edit")',
            type: 'get',
            data: { id: $(this).attr('data-id')},
            success: function (result) {
                $('.modal-title').html('Edit');
                $('.modal-body').html(result);
                $('#exampleModal').modal('show');
            }
        })
    })


    $('.btn-delete').click(function () {
       $.ajax({
            url: '@Url.Action("Delete")',
            type: 'get',
            data: { id: $(this).attr('data-id')},
            success: function (result) {
                $('.modal-title').html('Delete');
                $('.modal-body').html(result);
                $('#exampleModal').modal('show');
            }
        })
    })
</script>