﻿
@{
    ViewData["Title"] = "Cari Item";
}

@*<div class="card">
    <div class="col-10">
        <h2>Cari Obat dan Alat kesehatan</h2>
        <p>Masukkan minimal 1 kata kunci untuk pencarian anda</p>
    </div>
    <div class="col-5">
        <input type="search" class="form-control rounded btn-input" id="myInput" value="@ViewData["SearchText"]" placeholder="Cari Kata" aria-label="Search" aria-describedby="search-addon" />
    </div>
    <div class="col-5 justify-content-between">
        <button type="button" class="btn btn-outline-primary " id="ulangi"> Atur Ulang </button>
        <button type="button" class="btn btn-primary btn-search" id="searching"> Cari </button>
    </div>
</div>*@

<div class="card">
    <div class="card-body">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Obat dan Alat Kesehatan</li>
        </ol>
        <div class="container">
            <form class="form-inline">
                <div class="input-group input-group-sm">
                    <p>
                        Hasil Pencarian Berdasarkan Kata Kunci : Kategori Sakit , Nama Produk , Segmentasi
                    </p>
                </div>
                @*<form action="" id="cariulang">
                    <a id="cariulangbtn" class="btn btn-outline-primary ml-auto" href=""> Ulangi Cari</a>
                </form>*@
                <button class="btn btn-outline-primary btn-cariulang ml-auto"> ulangi pencarian</button>
            </form>
        </div>
        <div class="table-responsive" id="panel-body">
            Loading.....
        </div>
    </div>
    <div class="card-footer">
        <div class="container">
            <form class="form-inline">
                <div class="input-group input-group-sm">
                    <p>
                        1 Produk | estimasi harga: Rp 50000
                    </p>
                </div>
                <button type="button" class="btn btn-primary ml-auto"><i class="fa fa-shopping-cart"></i> Keranjang saya</button>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-label">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ....
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var currentPage = 1;
        var rowsPerpage = 5;
        var currentSearch = "";
        $(document).ready(function () {
            GetList(currentPage, rowsPerpage, currentSearch);
        })

        function GetList(page, rows, search) {
            currentPage = page;
            rowsPerpage = rows;
            currentSearch = search;
            $.ajax({
                url: '@Url.Action("ListPage")',
                type: 'get',
                data: { page: page, rows: rowsPerpage, search: currentSearch},
                success: function (result) {
                    $("#panel-body").html(result)
                }
            });
        }

        $('#btn-cariulang').click(function () {
        $.ajax({
                url: '@Url.Action("Cari")',
                type: 'get',
                success: function (result) {
                    $('.modal-body').html(result);
                }
        })
            $('.modal-title').html('Cari Item');
            $('#exampleModal').modal('show');
        })

    </script>
}