﻿@model IEnumerable<ViewModel.LocationViewModel>

<select id="column-list-ctrl" class="custom-select">
    @foreach (var item in @Model)
    {
        <option id="@item.id" value="@item.name">@item.location_level_id</option>
    }
</select>

<script>
    $(document).ready(function(){
        $('#column-list-ctrl').val(currentcolumn)
    })

    $('#column-list-ctrl').on('change', function(){
        GetList(currentPage, rowsPerpage, currentSearch, $(this).val(), currentascen);
    })
</script>
