﻿@model ViewModel.LocationViewModel

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" method="post" id="form-create" name="form-create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="location_level_id" class="control-label">Level Lokasi</label>
                @Html.DropDownListFor(model => model.location_level_id, (IEnumerable<SelectListItem>)ViewBag.LocationLevels, "Pilih Lokasi", new { @class = "form-control" })
                <span asp-validation-for="location_level_id" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="regionlist" class="control-label">Wilayah</label>
                @Html.DropDownListFor(model => model.regionlist, (IEnumerable<SelectListItem>)ViewBag.LocationRegion, "Pilih Wilayah", new { @class = "form-control" })
                <span asp-validation-for="regionlist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label">Nama</label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <p class="text-danger">@ViewBag.ErrorMessage</p>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <input type="button" value="Cancel" onclick="GetList(currentPage, rowsPerpage)" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<script>
    $('#form-create').submit(function () {
        var dataForm = new FormData($(this)[0]);
        console.log(dataForm);
        $.ajax({
            url: this.action,
            type: this.method,
            data: dataForm,
            processData: false,
            contentType: false,
            success: function (result) {
                $('.modal-body').html(result);
            }
        })
        return false;
    });
</script>

