﻿@model ViewModel.LocationViewModel

<h3>Are you sure you want to delete @Html.DisplayFor(model => model.name) ?</h3>
<div>            
    <form asp-action="Delete" method="post" id="form-delete" name="form-delete">
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.name)
        @Html.HiddenFor(model => model.location_level_id)
        <p class="text-danger">@ViewBag.ErrorMessage</p>
        <input type="submit" value="Delete" class="btn btn-danger" />        
    </form>
</div>

<script type="text/javascript">
    $('#form-delete').submit(function () {
        var dataForm = new FormData($(this)[0]);
        $.ajax({
            url: this.action,
            type: this.method,
            data: dataForm,
            processData: false,
            contentType: false,
            success: function (result) {
                $('.modal-body').html(result);
            }
        })
        return false;
    });
</script>