﻿@model IEnumerable<ViewModel.LocationViewModel>

<table class="table">
    <thead>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="text" class="form-control rounded btn-input" id="myInput" value="@ViewData["SearchText"]" placeholder="Search by Name" aria-label="Search" aria-describedby="search-addon" />
                        <button type="submit" class="btn btn-outline-primary btn-search" id="searching">Search</button>
                    </div>
                </div>
                <div class="col-md-8">

                    <p>

                    </p>
                    <p>

                    </p>

                </div>
            </div>
        </div>
        <tr>
            <th>
                Nama
            </th>
            <th>
                Level Lokasi
            </th>
            <th>
                Wilayah
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocaLevName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.region)
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-warning btn-edit col-sm-12" data-id="@item.id"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-danger btn-delete col-sm-6" data-id="@item.id"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination ml-auto">
        @for (int I = 1; I <= ViewBag.Pages; I++)
        {
            <li class="page-item"><a class="page-link btn-link-page" data-id="@I" onclick="GetList(@I, rowsPerpage, currentSearch)">@I</a></li>
        }
    </ul>
</nav>

<script>

    $('.btn-search').click(function () {
        GetList(currentPage, rowsPerpage, $('#myInput').val());
    });

    $('.btn-edit').click(function () {
        $.ajax({
            url: '@Url.Action("Edit")',
            type: 'get',
            data: { id: $(this).attr('data-id') },
            success: function (result) {
                $('.modal-title').html('Ubah Location');
                $('.modal-body').html(result);
                $('#form-modal').modal('show');
            }
        })
    });


    $('.btn-delete').click(function () {
        $.ajax({
            url: '@Url.Action("delete")',
            type: 'get',
            data: { id: $(this).attr('data-id') },
            success: function (result) {
                $('.modal-title').html('Hapus');
                $('.modal-body').html(result);
                $('#form-modal').modal('show');
            }
        })
    });

</script>
