﻿@{
    ViewData["Title"] = "Lokasi";
}

<h1>@ViewData["Title"]</h1>
<div class="card">
    <h5 class="card-header">
        <div class="row">
            <div class="col-sm-11"></div>
            <div>
                <button type="button" class="btn btn-primary" data-toggle="modal" id="btn-create">Tambah</button>
            </div>
        </div>
    </h5>

    <div class="card-body">
        <div class="table-responsive" id="panel-body">
            Loading...
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-label">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">
        var currentPage = 1;
        var rowsPerpage = 5;
        var currentSearch = "";
        $(document).ready(function () {
            GetList(currentPage, rowsPerpage, currentSearch);
        })

        function GetList(page, rows, search) {
            currentPage = page;
            rowsPerpage = rows;
            currentSearch = search;
            $.ajax({
                url: '@Url.Action("ListPage")',
                type: 'get',
                data: { page: page, rows: rowsPerpage, search: currentSearch },
                success: function (result) {
                    $("#panel-body").html(result)
                }
            });
        }

       @* function GetList() {
            $.ajax({
                url: '@Url.Action("List")',
                type: 'get',
                success: function (result) {
                    $('#panel-body').html(result);
                }
            })
        }*@

        $('#btn-create').click(function () {
            $.ajax({
                url: '@Url.Action("Create")',
                type: 'get',
                success: function (result) {
                    $('.modal-body').html(result);
                }
            })
            $('.modal-title').html('Tambah Lokasi');
            $('#form-modal').modal('show');
        });
    </script>
}
