﻿@model ViewModel.SpecializationViewModel

<h3>Are you sure you want to delete @Html.DisplayFor(model => model.name)?</h3>
<div>
    <form asp-action="Delete" method="post" id="form-delete" name="form-delete">
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.name)
        <input type="submit" value="Delete" class="btn btn-danger" />
        <input type="button" value="Cancel" data-dismiss="modal" class="btn btn-secondary" />
    </form>
</div>

<script type="text/javascript">
    $('#form-delete').submit(function () {
        var dataForm = new FormData($(this)[0]);
        $.ajax({
            url: this.action,
            type: this.method,
            data: dataForm,
            processData: false,
            contentType: false,
            success: function (result) {
                $('.modal-body').html(result);
            }
        })
        return false;
    });
</script>