﻿
@model ViewModel.ItemSegmentationViewModel

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" method="post" id="form-create" name="form-create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label"> Nama</label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <p class="text-danger">@ViewBag.ErrorMessage</p>
            <div class="form-group pull-right ml-auto">
                <input type="button" value="Batal" data-dismiss="modal" class="btn btn-secondary" />
                <input type="submit" value="Simpan" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<script>
        $('#form-create').submit(function () {
            var dataForm = new FormData($(this)[0]);
            console.log(dataForm);
            $.ajax({
                url: this.action,
                type: this.method,
                data: dataForm,
                processData: false,
                contentType: false,
                success: function (result) {
                    $('.modal-body').html(result);
                }
            })
            return false;
        });
</script>

