﻿@model ViewModel.ItemSegmentationViewModel

<h5>Apakah anda yakin akan hapus @Html.DisplayFor(model => model.name) ?</h5>
<div class="pull-right ml-auto">
    @*<dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
    </dl>*@

    <form asp-action="Delete" method="post" id="form-delete" name="form-delete">
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.name)
        <input type="button" value="Tidak" data-dismiss="modal" class="btn btn-secondary" />
        <input type="submit" value="Ya" class="btn btn-danger" />
    </form>
</div>
<script>
        $('#form-delete').submit(function () {
            var dataForm = new FormData($(this)[0]);
            console.log(dataForm);
            $.ajax({
                url: this.action,
                type: this.method,
                data: dataForm,
                processData: false,
                contentType: false,
                success: function (result) {
                    $('.modal-body').html(result);
                }
            })
            return false;
        });
</script>
