﻿
@{
    ViewData["Title"] = "Segmentation Produk Kesehatan";
}

<div class="card">
    <div class="card-header">
        <h5>@ViewData["Title"]/@ViewBag.Teks</h5>
        @*<input type="text" id="searchNama" onkeyup="myFunction()" placeholder="Search by Nama">*@
        @*<form class="form-inline">
            <div class="input-group input-group-sm">
                <div class="input-group-append">
                    <input class="form-control rounded" type="search" id="myInput" onkeyup="myFunction()" name="searchText" placeholder="Search Key" />
                    <button type="button" class="btn btn-dark btn-search" id="btn-search"> Search </button>
                    <button type="button" class="btn btn-ligth"> <a asp-action="Index"> Get All Data </a></button>
                </div>
            </div>
            <button type="button" class="btn btn-success ml-auto" id="btn-create">Create New</button>
        </form>*@
    </div>
    <div class="card-body">
        <div class="table-responsive" id="panel-body">
            Loading.....
        </div>
        @*<h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>*@
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-label">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        @*var currentPage = 1;
        var rowsPerpage = 5;
        $(document).ready(function () {
            GetList(currentPage);
        })

        function GetList(page) {
            $.ajax({
                url: '@Url.Action("ListPage")',
                type: 'get',
                data: { page: page, rows: rowsPerpage },
                success: function (result) {
                    $("#panel-body").html(result)
                }
            });
        }*@
        var currentPage = 1;
        var rowsPerpage = 5;
        var currentSearch = "";
        $(document).ready(function () {
            GetList(currentPage, rowsPerpage, currentSearch);
        })

        function GetList(page, rows, name) {
            currentPage = page;
            rowsPerpage = rows;
            currentSearch = name;
            $.ajax({
                url: '@Url.Action("ListPage")',
                type: 'get',
                data: { page: page, rows: rowsPerpage, name: currentSearch},
                success: function (result) {
                    //console.log(result)
                    $("#panel-body").html(result)
                }
            });
        }

        $('#btn-create').click(function () {
            $.ajax({
                url: '@Url.Action("Create")',
                type: 'get',
                success: function (result) {
                    $('.modal-body').html(result);
                }
            })
            $('.modal-title').html('Tambah Data');
            $('#exampleModal').modal('show');
        })

       @*$('.btn-search').click(function () {
            $.ajax({
                url: '@Url.Action("search")',
                type: 'get',
                data: { name: $('#myInput').val() },
                success: function (result) {
                    $('#panel-body').html(result);
                }
            })
        });

    $('.rounded').change(function () {
            $.ajax({
                url: '@Url.Action("search")',
                type: 'get',
                data: { name: $('#myInput').val() },
                success: function (result) {
                    $('#panel-body').html(result);
                }
            })
    });*@

         @*$('#searchNama').change(function () {
            $.ajax({
                url: '@Url.Action("search")',
                type: 'get',
                data: { name: $('#searchNama').val() },
                success: function (result) {

                    $('#panel-body').html(result);

                }
            })
        });

        $('#searchNama').click(function () {
            $.ajax({
                url: '@Url.Action("ListPage")',
                type: 'get',
                success: function(result) {
                    $('#panel-body').html(result)
                }
            })
        });*@

    </script>
}

