﻿@model ViewModel.DoctorTreatmentViewModel

<h5>Anda setuju untuk menghapus tindakan @Html.DisplayFor(model => model.name) ?</h5>
<div class = "text-right">
    <form asp-action="Delete" method="post" id="form-delete" name="form-delete">
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.name)
        <input type="button" value="Batal" data-dismiss="modal" onclick="GetList()" class="btn btn-outline-primary" />
        <input type="submit" value="Hapus" class="btn btn-outline-primary" />
    </form>
</div>

<script>
    $('#form-delete').submit(function () {
        var dataForm = new FormData($(this)[0]);
        $.ajax({
            url: this.action,
            type: this.method,
            data: dataForm,
            processData: false,
            contentType: false,
            success: function(result) {
                $('.modal-body').html(result);
            }
        })
        return false;
    });
</script>