﻿@model IEnumerable<ViewModel.DoctorTreatmentViewModel>

<div class="col-md-12">
	@foreach (var item in Model)
	{

		@Html.DisplayFor(modelItem => item.name)

		<div class="btn-group" role="group" aria-label="Basic example">
			<button type="button" class="btn btn-light btn-delete" data-id="@item.id">X</button>
		</div>

	}
</div>
<div class="col-md-12 bg-light text-right">
	<button type="button" class="btn btn-light btn-primary align-right" id="btn-create"><i class="fa fa-plus" aria-hidden="true"></i></button>
</div>

<script>

	$('#btn-create').click(function() {
		$.ajax({
			url: '@Url.Action("Create")',
			type: 'get',
			success: function(result) {
				$('.modal-body').html(result)
			}
		})
		$('.modal-title').html('Tambahkan Tindakan');
		$('#form-modal').modal('show');
	})

	$('.btn-edit').click(function() {
		$.ajax({
			url: '@Url.Action("Edit")',
			type: 'get',
			data: { id: $(this).attr('data-id') },
			success: function(result) {
				$('.modal-title').html('UBAH');
				$('.modal-body').html(result);
				$('#form-modal').modal('show');
			}
		})
	});

	$('.btn-delete').click(function() {
		$.ajax({
			url: '@Url.Action("Delete")',
			type: 'get',
			data: { id: $(this).attr('data-id') },
			success: function(result) {
				$('.modal-title').html('Hapus Tindakan');
				$('.modal-body').html(result);
				$('#form-modal').modal('show');
			}
		})
	});
</script>
