﻿@model ViewModel.DoctorTreatmentViewModel
@{
    string customStyle = "";
    switch (ViewBag.Title)
    {
        case "Tambah":
            customStyle = "text-success";
            break;
        case "Ubah":
            customStyle = "text-warning";
            break;
        default:
            customStyle = "text-primary";
            break;
    }
}
<h3 class="@customStyle"}>@ViewBag.Title</h3>
<p>@ViewBag.Body</p>
@*<input type="button" value="Close" data-dismiss="modal" onclick="GetList()" class="btn btn-secondary" />
*@<script type="text/javascript">
    $(document).ready(function () {
        GetList();
    });
</script>