﻿﻿@{
	ViewData["Title"] = "Tindakan Dokter";
}

<h1>@ViewData["Title"]</h1>

<div class="card">
	<h5 class="card-header">
		<div class="container">
			<div class="row">
				<div class="col-md-11"></div>
				@*<div>
					<button type="button" class="btn btn-primary" id="btn-create">Tambah</button>
				</div>*@
			</div>
		</div>
	</h5>
	<div class="card-body">
		<div class="table-responsive" id="panel-body">
			Loading...
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modal-label">Modal title</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				...
			</div>
		</div>
	</div>
</div>

@section Scripts{
	<script type="text/javascript">
		$(document).ready(function() {
			//alert("Hello!");
			GetList();
		});

		function GetList() {
			$.ajax({
				url: '@Url.Action("List")',
				type: 'get',
				success: function(result) {
					$('#panel-body').html(result)
				}
			})
		}
		$('#btn-create').click(function() {
			$.ajax({
				url: '@Url.Action("Create")',
				type: 'get',
				success: function(result) {
					$('.modal-body').html(result)
				}
			})
			$('.modal-title').html('Tambah Tindakan');
			$('#form-modal').modal('show');
		})
	</script>
}