﻿@model ViewModel.DoctorSpecializationViewModel

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" method="post" id="form-create" name="form-create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="specialization_id" class="control-label">Spesialisasi*</label>
                @Html.DropDownListFor(model => model.specialization_id, (IEnumerable<SelectListItem>)ViewBag.specializationList, "Pilih Spesialisasi", new { @class = "form-control" })
                <span asp-validation-for="specialization_id" class="text-danger"></span>
            </div>
            <p class="text-danger">@ViewBag.ErrorMessage</p>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <input type="button" value="Cancel" data-dismiss="modal" onclick="GetList()" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<script>
    $('#form-create').submit(function () {
        var dataForm = new FormData($(this)[0]);
        console.log(dataForm);
        $.ajax({
            url: this.action,
            type: this.method,
            data: dataForm,
            processData: false,
            contentType: false,
            success: function (result) {
                $('.modal-body').html(result);
            }
        })
        return false;
    });
</script>


