﻿@using WebApp.Security

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Med.Id</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="~/dist/img/294_logo.png">
    <link href="assets1/img/favicon.png" rel="icon">
    <link href="assets1/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets1/vendor/bootstrap/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="assets1/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="assets1/vendor/boxicons/css/boxicons.min.css"
          rel="stylesheet">
    <link href="assets1/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="assets1/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="assets1/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets1/vendor/owl.carousel/assets/owl.carousel.min.css"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="assets1/vendor/bootstrap-datepicker/css/bootstrap-datepicker.min.css"
          rel="stylesheet">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/~/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body class="hold-transition light-mode sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/dist/img/294_logo.png" alt="AdminLTELogo" height="60" width="60">
        </div>
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar navbar-light" style="background-color: #e3f2fd;">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">@ViewData["Title"]</a>
                </li>
                <button type="button" class="btn btn-light"> <a asp-action="index"> <i class="fa fa-refresh" aria-hidden="true"></i>  </a></button>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <header id="header">
                    <div class="container d-flex align-items-center h1atas">
                        @* <div id="h1atasA">
                            <h1 class="logo mr-auto">
                            <a href="">Med.Id</a>
                            </h1>
                            </div>*@
                        <form action="" id="formAtas">
                            <input id="formAtasCari" type="text" placeholder="Cari Dokter atau FasKes">
                            <a id="formAtasBtn" class="btn" href="">
                                <i id="formAtasBtnIcn" class="fas fa-search fa-1x"></i>
                            </a>
                        </form>

                        <div class="dropdown">
                            <input type="text" id="lRoleId" th:value="${lRoleId}" hidden=true>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" th:text="Menu">
                                @if (ContextAccessor.IsAuthenticated())
                                {
                                    <a>Hi, @ContextAccessor.GetFullName()</a>
                                    <div class="dropdown-menu">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="KategoriFasilitasKesehatan" asp-action="Profile">Profil</a>
                                        <a class="dropdown-item" href="https://localhost:5002/KategoriFasilitasKesehatan/Profile">Profil</a>
                                        <a class="dropdown-item" href="https://localhost:5002/Logout">Logout</a>
                                        <!--  <a class="dropdown-item" href="#">Link 2</a> -->
                                        <!--  <a class="dropdown-item" href="#">Link 3</a> -->
                                </div>
                                }
                                else
                                {
                                    <a>Hi, Guest</a>
                                    <div class="dropdown-menu">
                                        <p><a class="dropdown-item" href="https://localhost:5002/Pendaftaran">Daftar</a></p>
                                    </div>
                                }
                            </button>
                        </div>
                    </div>
                </header>
            </ul>
            <!-- Navbar Refresh -->
            @*    <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Index"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
                </li>
                <button type="button" class="btn btn-light"> <a asp-action="index"> <i class="fa fa-refresh" aria-hidden="true"></i>  </a></button>*@
            <!-- Navbar Profile -->
            <!-- Navbar Search -->
            @*<li class="nav-item">
                <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                <i class="fas fa-search"></i>
                </a>
                <div class="navbar-search-block">
                <form class="form-inline">
                <div class="input-group input-group-sm">
                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                <i class="fas fa-search"></i>
                </button>
                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                <i class="fas fa-times"></i>
                </button>
                </div>
                </div>
                </form>
                </div>
                </li>*@

            <!-- Messages Dropdown Menu -->
            <!-- Notifications Dropdown Menu -->
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark bg-primary elevation-4">
            <!-- Brand Logo -->
            <a class="brand-link" asp-controller="Home" asp-action="Index">
                <img src="~/dist/img/294_logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3 animation__shake" style="opacity: .8">
                <span class="brand-text font-weight-bold text-light font-italic">Med.Id</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar navbar navbar-light" style="background-color: #e3f2fd;">
                <!-- Sidebar user panel (optional) -->
                @* @if (ContextAccessor.IsAuthenticated())
                    {
                    @Html.Partial("_UserProfile")
                    }*@
                <!-- SidebarSearch Form -->
                @Html.Partial("_SideBarMenu")
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            @*<h1 class="m-0">@ViewData["Title"]</h1>*@
                        </div><!-- /.col -->
                        @*   <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard v1</li>
                            </ol>
                            </div>*@<!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer sidebar-dark-primary">
            <strong>Website Med.Id -</strong>
            Batch#294.
            <div class="float-right d-none d-sm-inline-block">
                <b>Dibuat</b> 08/2022
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    @*<script src="dist/js/demo.js"></script>*@
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/dist/js/pages/dashboard.js"></script>
    <script type="text/javascript">
         $('#formAtasBtn').click(function() {
             if($('#formAtasCari').val() != ''){
                $(this).attr('href','/Biodata/index2?search='+$('#formAtasCari').val())
             }
         })

    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>