﻿@using WebApp.Security

<!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column text-dark" data-widget="treeview" role="menu" data-accordion="false">
        @if (ContextAccessor.Menu() == "Administrator")
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Bank" asp-action="Index">
                    <i class="nav-icon fa fa-university"></i>
                    <p>
                        Bank
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="M_Blood_Group" asp-action="Index">
                    <i class="nav-icon fa fa-tint"></i>
                    <p>
                        Golongan Darah
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="KategoriFasilitasKesehatan" asp-action="Index">
                    <i class="nav-icon fa fa-building"></i>
                    <p>
                        Kategori FasKes
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="CustomerRelation" asp-action="Index">
                    <i class="nav-icon fa fa-users"></i>
                    <p>
                        Hubungan Pasien
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="itemSegmentation" asp-action="Index">
                    <i class="nav-icon fa fa-medkit"></i>
                    <p>
                        Segmentasi Produk
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="itemCategory" asp-action="Index">
                    <i class="nav-icon fa fa-stethoscope"></i>
                    <p>
                        Kategori Produk
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="M_medical_item" asp-action="Index">
                    <i class="nav-icon fa fa-flask"></i>
                    <p>
                        Cari Produk
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="JenjangPendidikan" asp-action="Index">
                    <i class="nav-icon fa fa-graduation-cap"></i>
                    <p>
                        Jenjang Pendidikan
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="DoctorTreatment" asp-action="Index">
                    <i class="nav-icon fa fa-graduation-cap"></i>
                    <p>
                        Tindakan Dokter
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Location" asp-action="Index">
                    <i class="nav-icon fa fa-map-marker"></i>
                    <p>
                        Lokasi
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Pasien" asp-action="Index">
                    <i class="nav-icon fa fa-user-md"></i>
                    <p>
                        Daftar Pasien
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="M_medical_item" asp-action="Profile">
                    <i class="nav-icon fa fa-user-circle"></i>
                    <p>
                        Profile
                    </p>
                </a>
            </li>

        }

        @if (ContextAccessor.Menu() == "Pasien")
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Pasien" asp-action="Index">
                    <i class="nav-icon fa fa-user-md"></i>
                    <p>
                        Pasien
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="M_medical_item" asp-action="Index">
                    <i class="nav-icon fa fa-stethoscope"></i>
                    <p>
                        Cari Obat
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="itemCategory" asp-action="Index">
                    <i class="nav-icon fa fa-flask"></i>
                    <p>
                        kategori Produk
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="M_medical_item" asp-action="Profile">
                    <i class="nav-icon fa fa-user-circle"></i>
                    <p>
                        Profile
                    </p>
                </a>
            </li>
        }
        @if (ContextAccessor.Menu() == "Dokter")
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="M_blood_group" asp-action="Index">
                    <i class="nav-icon fa fa-tint"></i>
                    <p>
                        Golongan Darah
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="KategoriFasilitasKesehatan" asp-action="Index">
                    <i class="nav-icon fa fa-building"></i>
                    <p>
                        Kategori FasKes
                    </p>
                </a>
            </li>
        }
        @if (ContextAccessor.Menu() == "Fasilitas Kesehatan")
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="KategoriFasilitasKesehatan" asp-action="Index">
                    <i class="nav-icon fa fa-building"></i>
                    <p>
                        Kategori FasKes
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="itemSegmentation" asp-action="Index">
                    <i class="nav-icon fa fa-medkit"></i>
                    <p>
                        Segmentasi Produk
                    </p>
                </a>
            </li>
        }

        @if (ContextAccessor.IsAuthenticated())
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Logout">
                    <i class="nav-icon fa fa-sign-out" aria-hidden="true"></i>
                    <p>
                        Logout
                    </p>
                </a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">
                    <i class="nav-icon fa fa-sign-in" aria-hidden="true"></i>
                    <p>
                        Login
                    </p>
                </a>
            </li>
        }
    </ul>
</nav>
<!-- /.sidebar-menu -->