﻿@model ViewModel.BiodataViewModel


<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <td>
                        <img src="@Model.image" class="img-circle width="200" height="200" alt="Photo Profile"/>
                    </td>
                    @*<p>
                        <img src="@Model.image" class="brand-image img-circle width="200" height="200" alt="Photo Profile">
                        </p>*@
                </div>
            </div>
            <div class="col-md-5">
                <table style="height: 100%">
                    <tbody>
                        <tr>
                            <td class="align-middle">
                                <div class="profile-head align-middle">
                                    <p></p>
                                    <h4 class="text-dark">
                                        dr. @Html.DisplayFor(model => model.fullname), Sp.A
                                    </h4>
                                    <h5 class="font-weight-light">
                                        Spesialis Anak
                                    </h5>
                                    <h5 class="font-weight-light">
                                        4 Tahun Pengalaman
                                    </h5>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3 text-center">
                <table style="height: 100%">
                    <tbody>
                        <tr>
                            <td class="align-middle">
                                <div class="btn-group">
                                    <a href="https://localhost:5002/biodata/details" class="btn btn-primary align-middle">Chat dokter</a>
                                </div>
                                <p></p>
                                <h8 class="text-primary align-middle">
                                    Rp 30.000
                                </h8>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>


<div class="container">
    <div class="row">
        <div class="col-4">
            <p></p>
            <p6 class="text-primary font-weight-bold">
                Tindakan medis
            </p6>
            <div class="card">
                <div class="card-body">
                    <a>- Fisioterapi Anak</a><br />
                    <a>- Konsultasi Kesehatan Anak</a><br />
                    <a>- Skrining tumbuh kembang anak</a><br />
                    <a>- Vaksin anak</a><br />
                    <a>- Konsultasi alergi anak</a><br />
                    <a>- Konsultasi psikologi anak</a><br />
                    <p>- Tes pendengaran OAE</p>

                </div>
            </div>
            <p6 class="text-primary font-weight-bold">
                Riwayat Praktek
            </p6>
            <div class="card">
                @*style="width: 18rem;"*@
                <div class="card-body">
                    <a>RS Mitra, Depok</a>
                    <pre>Dokter Anak  2019 - sekarang</pre>
                    <a>RSIA Bunda, Jakarta Pusat</a>
                    <pre>Dokter Anak  2018 - sekarang</pre>
                    <a>RSUP Hasan Sadikin, Bandung</a>
                    <pre>Dokter Anak  2016 - 2018</pre>

                </div>
            </div>
            <p6 class="text-primary font-weight-bold">
                Pendidikan
            </p6>
            <div class="card">
                <div class="card-body">
                    <a>Universitas Padjajaran</a>
                    <pre>Spesialis Anak	   2016</pre>
                    <a>Universitas Padjajaran</a>
                    <pre>Keddokteran Umuum 2011</pre><br />
                </div>
            </div>
        </div>
        <div class="col-7">
            <p></p>
            <p6 class="text-primary font-weight-bold">
                Lokasi Praktek
            </p6>
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header">
                        <p6 class="text-bold">Rs Mitra</p6>
                        <div class="row">
                            <div class="col-1">
                            </div>
                            <div class="col-6">
                                <p4>   Poliklinik Anak</p4>
                            </div>
                            <div class="col-5 text-right">
                                <p4 class="text-primary">Konsultasi mulai dari</p4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1">
                                <p></p>
                            </div>
                            <div class="col-7">
                                <p4>   <i class="fa fa-map-marker" aria-hidden="true"></i> Jl Kebenaran Kav 3s, Kota</p4>
                            </div>
                            <div class="col-4 text-center">
                                <p4 class="text-primary">Rp 300.000</p4>
                            </div>
                        </div>
                        <div>
                            @*class="card-header" id="headingThree"*@
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Lihat jadwal praktik
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-7">
                                        <p>Senin       18:00 - 21:00</p>
                                        <p>Selasa      09:00 - 12:00</p>
                                    </div>
                                    <div class="col-md-5 text-right">
                                        <a href="https://localhost:5002/biodata/details" class="btn btn-primary align-middle">Buat janji</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p></p>
                    </div>
                </div>
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header">
                            <p6 class="text-bold">RSIA Bunda</p6>
                            <div class="row">
                                <div class="col-1">
                                    <p></p>
                                </div>
                                <div class="col-6">
                                    <p4>   Poliklinik anak</p4>
                                </div>
                                <div class="col-5 text-right">
                                    <p4 class="text-primary">Konsultasi mulai dari</p4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1">
                                    <p></p>
                                </div>
                                <div class="col-7">
                                    <p4>   <i class="fa fa-map-marker" aria-hidden="true"></i> Jl Kesabaran no 932, Kota</p4>
                                </div>
                                <div class="col-4 text-center">
                                    <p4 class="text-primary">Rp 250.000</p4>
                                </div>
                            </div>
                            <div>
                                @*class="card-header" id="headingThree"*@
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed2" type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                        Lihat jadwal praktik
                                    </button>
                                </h2>
                            </div>
                            <div id="collapsefour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <p>Rabu       11:00 - 18:00</p>
                                            <p>Kamis      10:00 - 14:00</p>
                                        </div>
                                        <div class="col-md-5 text-right">
                                            <a href="https://localhost:5002/biodata/details" class="btn btn-primary align-middle">Buat janji</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}



<script type="text/javascript">
    $('.collapsed').click(function(){ //you can give id or class name here for $('button')
        //debugger;
        var txt = $(this).text().trim();
            if(txt=='Lihat jadwal praktik'){
                $(this).text('Sembunyikan jadwal praktik')
            } else {
                $(this).text('Lihat jadwal praktik')
            }
    });

     $('.collapsed2').click(function(){ //you can give id or class name here for $('button')
        //debugger;
        var txt = $(this).text().trim();
            if(txt=='Lihat jadwal praktik'){
                $(this).text('Sembunyikan jadwal praktik')
            } else {
                $(this).text('Lihat jadwal praktik')
            }
    });
</script>


