﻿@model IEnumerable<ViewModel.BiodataViewModel>

<table class="table">
    <thead>
        <tr>
            <th class="col-md-12">
                Nama
            </th>
           @* <th class="col-md-12">
                Image
            </th>*@
            <th class="text-center">
                #
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fullname)
                </td>
               @* <td>
                    <img src="@item.image" />
                </td>*@
                <td>
                   @* <div class="btn-group">
                        @if (item.id == 7)
                        {
                            <a href="https://localhost:5002/biodata/details" class="btn btn-primary">Lihat info lebih banyak</a>
                        }
                        else
                        {
                            <a href="https://localhost:5002/biodata/details2" class="btn btn-primary">Lihat info lebih banyak</a>
                        }
                    </div>*@

                     <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-primary btn-details" data-id="@item.id">Lihat info lebih banyak</button>
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>


<script>
    $('.btn-details').click(function () {
        $.ajax({
            url: '@Url.Action("Details")',
            type: 'get',
            data: { id : $(this).attr('data-id') },
            success: function (result) {
                $('#panel-body').html(result);

            }
        })
    });
</script>

