﻿@*@{
    ViewData["Title"] = "Hasil untuk";
}

<h1>@ViewData["Title"] @ViewData["Search"]</h1>
*@

    <div class="card-body">
        <div class="table-responsive" id="panel-body">
            Loading...
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-label">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function() {
            GetList();
        });

        function GetList() {
            $.ajax({
                url: '@Url.Action("Search")',
                type: 'get',
                data: {name : '@ViewData["Search"]'},
                success: function(result) {
                    $('#panel-body').html(result)
                }
            })
        }


        $('#searchNama').change(function () {            
            $.ajax({
                url: '@Url.Action("search")',
                type: 'get',
                data: { name: $('#searchNama').val() },
                success: function (result) {

                    $('#panel-body').html(result);

                }
            })
        });

        $('#searchNama').click(function () {            
            $.ajax({
                url: '@Url.Action("List")',
                type: 'get',
                success: function(result) {
                    $('#panel-body').html(result)
                }
            })
        });

    </script>
}
