﻿@model IEnumerable<ViewModel.BankViewModel>



<p class="text-danger">@ViewBag.Error</p>
<table class="table">
    <thead>
        <div class="container">
            <div class="row">
                <div class="col-sm-9"></div>
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="text" class="form-control rounded btn-input" id="myInput" value="@ViewData["SearchText"]" placeholder="Search by Name" aria-label="Search" aria-describedby="search-addon" />
                        <button type="submit" class="btn btn-outline-primary btn-search" id="searching">Search</button
                        <p>

                        </p>
                        <p>

                        </p>
                    </div>
                </div>
            </div>
        </div>
        <tr>
            <th>
                Nama
            </th>
            <th>
                Kode va
            </th>
            <th>
               Dibuat Oleh
            </th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.va_code)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.dibuat)
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-primary btn-edit" data-id="@item.id">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-delete" data-id="@item.id">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                <div class=row>
                    <div class="col-md-7">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                @for (int I = 1; I <= ViewBag.Pages; I++)
                                {
                                    <li class="page-item"><a class="page-link btn-link-page" data-id="@I" onclick="GetList(@I, rowsPerpage, currentSearch, currentcolumn, currentascen)">@I</a></li>
                                }
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-1" id="row-page">
                    </div>
                    <div class="col-md-2" id="column-list">
                    </div>
               @*     <div class="col-md-2" id="sorting-list">
                    </div>*@
                </div>
            </td>
        </tr>
    </tfoot>
</table>


@*<nav aria-label="...">
    <ul class="pagination pagination-sm">
    <li class="page-item active" aria-current="page">
    <span class="page-link">
    1
    <span class="sr-only">(current)</span>
    </span>
    </li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    </ul>
    </nav>*@





<script>
    $(document).ready(function(){
        GetController();
        //$("#list-page").val(rowsPerpage);
    })

    function GetController(){
        $.ajax({
                url: '@Url.Action("GetListRow","Utilities")',
                type: 'get',
                success: function (result) {
                    $('#row-page').html(result);
                 }
        })

        $.ajax({
                url: '@Url.Action("Sorting","Utilities")',
                type: 'get',
                success: function (result) {
                    $('#column-list').html(result);
                 }
        })
        $.ajax({
                url: '@Url.Action("Columns","Bank")',
                type: 'get',
                success: function (result) {
                    $('#sorting-list').html(result);
                 }
        })

    }

    $('.btn-search').click(function () {
        GetList(currentPage, rowsPerpage, $('#myInput').val(), currentcolumn, currentascen);
    });

    $('.btn-edit').click(function () {
         $.ajax({
            url:'@Url.Action("Edit")',
            type:'get',
            data: { id :$(this).attr('data-id') },
            success: function(result) {
                $('.modal-title').html('Edit');
                $('.modal-body').html(result);
                $('#form-modal').modal('show');
            }
        })
    });

    $('.btn-delete').click(function () {
         $.ajax({
            url:'@Url.Action("Delete")',
            type:'get',
            data: { id :$(this).attr('data-id') },
            success: function(result) {
                $('.modal-title').html('Delete');
                $('.modal-body').html(result);
                $('#form-modal').modal('show');
            }
        })
    });
</script>


