﻿@{
    ViewData["Title"] = "Bank";
}

<h1>@ViewData["Title"]</h1>


<div class="card">
    <h5 class="card-header">
        <button type="button" class="btn btn-success" id="btn-create">Tambahkan Baru</button>
    </h5>

    <div class="card-body">
        <div class="table-responsive" id="panel-body">
            Daftar Bank. . .
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-label">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ....
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var currentPage = 1;
        var rowsPerpage = 5;
        var currentSearch = "";
        var currentcolumn = "name";
        var currentascen = "true";
        $(document).ready(function () {
            GetList(currentPage, rowsPerpage, currentSearch, currentcolumn, currentascen);
        })

        function GetList(page, rows, search, column, ascen) {
            currentPage = page;
            rowsPerpage = rows;
            currentSearch = search;
            currentcolumn = column;
            currentascen = ascen;
            $.ajax({
                url: '@Url.Action("ListPage")',
                type: 'get',
                data: { page: page, rows: rowsPerpage, search: currentSearch, column: currentcolumn, ascen: currentascen},
                success: function (result) {
                    $("#panel-body").html(result)
                }
            });
        }


    //function GetList(){
    //    $.ajax({
    //        url:'@Url.Action("List")',
    //        type:'get',
    //        success: function(result) {
    //            $('#panel-body').html(result)
    //        }
    //    })
    //}

    $('#btn-create').click(function () {
        $.ajax({
            url:'@Url.Action("Create")',
            type:'get',
            success: function(result) {
                $('.modal-body').html(result)
            }
        })
        $('.modal-title').html('Create New')
        $('#form-modal').modal('show');
    });
    </script>
}