﻿@{
    ViewData["Title"] = "Kirim Email";
}

<h1>@ViewData["Title"]</h1>


    <div class="card-body">
        <div class="table-responsive" id="panel-body">
            Loading...
        </div>
    </div>