﻿@model IEnumerable<ViewModel.DoctorViewModel>

<table class="table">
	<thead>
		<tr>
			<th class="col-md-4">
				Biodata ID
			</th>
			<th class="col-md-4">
				Str
			</th>
			<th class="col-md-4">
				#
			</th>

			<th></th>
		</tr>
	</thead>
	<tbody>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Nama_Dokter)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.str)
				</td>
				<td>
					<div class="btn-group" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-primary btn-edit" data-id="@item.id"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
						<button type="button" class="btn btn-danger btn-delete" data-id="@item.id"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>

<script>
	$('.btn-edit').click(function() {
		$.ajax({
			url: '@Url.Action("Edit")',
			type: 'get',
			data: { id: $(this).attr('data-id') },
			success: function(result) {
				$('.modal-title').html('UBAH');
				$('.modal-body').html(result);
				$('#form-modal').modal('show');
			}
		})
	});

	$('.btn-delete').click(function() {
		$.ajax({
			url: '@Url.Action("Delete")',
			type: 'get',
			data: { id: $(this).attr('data-id') },
			success: function(result) {
				$('.modal-title').html('HAPUS !');
				$('.modal-body').html(result);
				$('#form-modal').modal('show');
			}
		})
	});
</script>
