﻿﻿@{
	ViewData["Title"] = "Cari Dokter";
}

<h1>@ViewData["Title"]</h1>

<div class="card">
	<div class="card-body">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
			<li class="breadcrumb-item active">Cari Dokter</li>
		</ol>
		<div class="container">
			<form class="form-inline">
			<div class="input-group input-group-sm">
				<h5 class="text-secondary">
					Hasil Pencarian Berdasarkan Kata Kunci : Lokasi, <br />
				</h5>
			</div>
			<button type="button" class="btn btn-outline-primary ml-auto btn-cari"> Ulangi Pencarian </button>
			</form>
		</div>
		<div class="container">
				<h5 class="text-secondary">
					Spesialisasi/Sub-spesialisasi: Anak
				</h5>
		</div>
	</div>
</div>

<div class="table-responsive" id="panel-body">
            Loading.....
        </div>
        <div class="card-footer" id="panel-footer">
            <div class="container">
            </div>
        </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modal-label">Modal title</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="col-12 text-primary">
					<h2>Cari Dokter</h2>
					<p>Masukkan minimal 1 kata kunci untuk pencarian dokter anda</p>
				</div>
				<div class="col-12">
					<div class="dropdown">
						<p>Lokasi</p>
						<button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Lokasi
						</button>
					</div>
				</div>
				<br />
				<div class="col-12">
					<p>Nama Dokter</p>
					<input type="search" class="form-control rounded btn-input" id="myInput" value="@ViewData["SearchText"]" placeholder="" aria-label="Search" aria-describedby="search-addon" />
				</div>
				<br />
				<div class="col-12">
					<div class="dropdown">
						<p>Spesialisasi</p>
						<button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Spesialisasi
						</button>
					</div>
				</div>
				</br>
				<div class="col-12">
					<div class="dropdown">
						<p>Tindakan Medis</p>
						<button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Tindakan Medis
						</button>
					</div>
				</div>
				</br>
				<div class="col-5 justify-content-between">
					<button type="button" class="btn btn-outline-primary " id="ulangi" href="#"> Atur Ulang </button>
					<button type="button" class="btn btn-primary btn-search" id="searching"> Cari </button>
				</div>
				</br>
			</div>
		</div>
	</div>
</div>
@section Scripts{
	<script type="text/javascript">
		var currentPage = 1;
		var rowsPerpage = 5;
		var currentSearch = "";
		$(document).ready(function() {
			GetList(currentPage, rowsPerpage, currentSearch);
		})

		function GetList(page, rows, name) {
			currentPage = page;
			rowsPerpage = rows;
			currentSearch = name;
			$.ajax({
				url: '@Url.Action("ListPage")',
				type: 'get',
				data: { page: page, rows: rowsPerpage, name: currentSearch },
				success: function(result) {
					//console.log(result)
					$('#exampleModal').modal('hide');
					$("#panel-body").html(result)
				}
			});
		}
		$('.btn-search').click(function() {
			GetList(currentPage, rowsPerpage, $('#myInput').val());
			//console.log($('#myInput').val())
		});


		$('.btn-cari').click(function() {
			$.ajax({
				url: '@Url.Action("Cari")',
				type: 'get',
				success: function(result) {
					$('.modal-body').html(result);
				}
			})
			$('.modal-title').html('Cari Dokter');
			$('#exampleModal').modal('show');
		})

		$('#btn-tambahkeranjang').click(function() {
			$('#panel-footer').show();
		})

	</script>
}