﻿@model ViewModel.CustRelationViewModel

<h5>Anda akan menghapus @Html.DisplayFor(model => model.name) ?</h5>
    <p class="text-danger">@ViewBag.ErrorMessage</p>
    <form asp-action="Delete" method="post" id="form-delete" name="form-delete">
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.name)
        <div class="col-md-12"></div>
        <div>
            <input type="submit" value="Hapus" class="btn btn-danger" />
            <input type="button" value="Tidak" data-dismiss="modal" onclick="GetList()" class="btn btn-secondary" />
        </div>
    </form>
</div>

<script>
    $('#form-delete').submit(function() {
        var dataForm = new FormData($(this)[0]);
        $.ajax({
            url: this.action,
            type: this.method,
            data: dataForm,
            processData: false,
            contentType: false,
            success: function(result) {
                $('.modal-body').html(result);
            }
        })
        return false;
    });
</script>

