﻿@model IEnumerable<ViewModel.CustRelationViewModel>

<h4 class="text-danger text-center">@ViewBag.Error</h4>
<h4 class="text-blue text-center">@ViewBag.Result</h4>
<table class="table">
    <thead>
        <tr>
            <th class="col-md-12">
                Nama Hubungan
            </th>
            <th class="text-center">
                #
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-info btn-edit" data-id="@item.id"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-danger btn-delete" data-id="@item.id"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $('.btn-edit').click(function() {
        $.ajax({
            url: '@Url.Action("Edit")',
            type: 'get',
            data: { id: $(this).attr('data-id') },
            success: function(result) {
                $('.modal-title').html('Ubah');
                $('.modal-body').html(result);
                $('#form-modal').modal('show');
            }
        })
    });

    $('.btn-delete').click(function() {
        $.ajax({
            url: '@Url.Action("Delete")',
            type: 'get',
            data: { id: $(this).attr('data-id') },
            success: function(result) {
                $('.modal-title').html('Hapus');
                $('.modal-body').html(result);
                $('#form-modal').modal('show');
            }
        })
    });
</script>