﻿@model ViewModel.CustRelationViewModel
@{
    string customStyle = "";
    switch (ViewBag.Title)
    {
        case "Menambah":
            customStyle = "text-success";
            break;
        case "Mengubah":
            customStyle = "text-warning";
            break;
        default:
            customStyle = "text-danger";
            break;
    }
}
<h3 class="@customStyle">@ViewBag.Title Data !</h3>
<p>@Html.DisplayFor(model => model.name) Berhasil @ViewBag.Body!</p>
<input type="button" value="Close" data-dismiss="modal" class="btn btn-secondary" />
<script type="text/javascript">
    $(document).ready(function() {
        GetList();
    });
</script>
