﻿@model IEnumerable<ViewModel.MenuViewModel>

<div class="row">
    <form asp-action="Edit" method="post" id="form-edit" name="form-edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-12">
            <table class="table" style="width: 100%">
                <tbody>
                    <tr>
                        <td colspan="2">
                            <input type="checkbox" id="select-all">
                            <label for="car">Select All</label>
                        </td>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr class="item-@item.id">
                            <td colspan="2">
                                <input type="checkbox" id="selects-@item.id">
                                <input hidden data-id="@item.id" />
                                <label for="car">@item.name</label>
                            </td>
                        </tr>

                        foreach (var item2 in item.SubMenu)
                        {
                            <tr class="item-@item.id">
                                <td style="width: 20px"></td>
                                <td>
                                    <input type="checkbox" name="select-@item.id">
                                    <input hidden data-id="@item2.id" />
                                    <label for="car">@item2.name</label>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table> 
        </div>

        <p class="text-danger">@ViewBag.ErrorMessage</p>
        <div class="form-group">
            <input type="submit" value="Simpan" class="btn btn-info" />
            <input type="button" value="Batal" data-dismiss="modal" onclick="GetList()" class="btn btn-danger" />
        </div>

    </form>
</div>

<script>
    $('#form-edit').submit(function () {
        var dataForm = new FormData($(this)[0]);
        $.ajax({
            url: this.action,
            type: this.method,
            data: dataForm,
            processData: false,
            contentType: false,
            success: function (result) {
                $('.modal-body').html(result);
            }
        })
        return false;
    });

    $(document).ready(function () {
        $('#select-all').click(function () {
            var checked = this.checked;
            $('input[type="checkbox"]').each(function () {
                this.checked = checked;
            });
        })
    });


    $(document).ready(function () {
        $('#selects-1').click(function () {
            var checked = this.checked;
            $('input[name="select-1').each(function () {
                this.checked = checked;
            });
        })
    });

    $(document).ready(function () {
        $('#selects-11').click(function () {
            var checked = this.checked;
            $('input[name="select-11').each(function () {
                this.checked = checked; 
            });
        })
    });

</script>