﻿@model IEnumerable<ViewModel.MenuRoleViewModel>


<table class="table">
    <thead>
        <tr>
            <th>
                Nama
            </th>
            <th>
                Kode
            </th>
            <th>#</th>
        </tr>
    </thead>
    <div class="col-sm-4">
        <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Cari" aria-label="Search" aria-describedby="search-addon" />
            <button type="button" class="btn btn-outline-primary btn-search">Cari</button>
        </div>
    </div>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.namaRole)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.kodeRole)
                </td>
                
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-primary btn-edit" data-id="@item.id">Atur Akses</button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $('.btn-search').click(function () {
        $.ajax({
            url: '@Url.Action("search")',
            type: 'get',
            data: { name: $('.rounded').val() },
            success: function (result) {
                $('.modal-title').html('search');
                $('#panel-body').html(result);

            }
        })
    });

    $('.btn-edit').click(function () {
        $.ajax({
            url: '@Url.Action("Edit")',
            type: 'get',
            data: { id: $(this).attr('data-id') },
            success: function (result) {
                $('.modal-title').html('Atur akses Menu');
                $('.modal-body').html(result);
                $('#form-modal').modal('show');
            }
        })
    });

    $('.btn-details').click(function () {
        $.ajax({
            url: '@Url.Action("Details")',
            type: 'get',
            data: { id: $(this).attr('data-id') },
            success: function (result) {
                $('.modal-title').html('Details');
                $('.modal-body').html(result);
                $('#form-modal').modal('show');
            }
        })
    });

    $('.btn-delete').click(function () {
        $.ajax({
            url: '@Url.Action("Delete")',
            type: 'get',
            data: { id: $(this).attr('data-id') },
            success: function (result) {
                $('.modal-title').html('Delete');
                $('.modal-body').html(result);
                $('#form-modal').modal('show');
            }
        })
    });
</script>