﻿@model ViewModel.MedItemViewModel
<!--<div class="card">
    <div class="col-10">
        <h2>Cari Obat dan Alat kesehatan</h2>
        <p>Masukkan minimal 1 kata kunci untuk pencarian anda</p>
    </div>
    <div class="col-5">
        <p>Kategori</p>
        <select class="form-control">
            <option>-- Pilih --</option>
        </select>
    </div>-->
    @*<div class="form-group">
        <label asp-for="medical_item_category_id" class="control-label"></label>
        @Html.DropDownListFor(model => model.medical_item_category_id, (IEnumerable<SelectListItem>)ViewBag.CategoryList, "Select Variant", new { @class = "form-control" })
        <span asp-validation-for="medical_item_category_id" class="text-danger"></span>
    </div>*@

    <!--<div class="col-5">
        <p>Kata Kunci</p>
        <input type="search" class="form-control rounded btn-input" id="myInput" value="@ViewData["SearchText"]" placeholder="Nama Obat atau Indikasi" aria-label="Search" aria-describedby="search-addon" />
    </div>
    <div class="col-5">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="obatbebas" id="obatbebas" value="obatbebas" checked>
            <label class="form-check-label" for="obatbebas">
                Hanya cari Obat ( bebas tanpa resep )
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="semuaobat" id="semuaobat" value="semuaobat">
            <label class="form-check-label" for="semuaobat">
                Cari semua obat ( termasuk obat keras)
            </label>
        </div>
    </div>
    <div class="col-5">
        <p>Harga</p>
        <input type="search" class="form-control rounded btn-input" id="min" placeholder="RP 0" aria-label="Search" aria-describedby="search-addon" />
        <input type="search" class="form-control rounded btn-input" id="max" placeholder="RP 100.000.000" aria-label="Search" aria-describedby="search-addon" />
    </div>
    <div class="col-5 justify-content-between">
        <button type="button" class="btn btn-outline-primary btn-ulang" id="ulangi"> Atur Ulang </button>
        <button type="button" class="btn btn-primary btn-search" id="searching"> Cari </button>
    </div>
</div>-->


<div class="card col-md-12">
    <p>Masukkan minimal 1 kata kunci untuk pencarian anda</p>
    <p>Kategori</p>
    <select class="form-control">
        <option>-- Pilih --</option>
    </select>
    <div class="form-group">
        <label asp-for="medical_item_category_id" class="control-label"></label>
        @Html.DropDownListFor(model => model.medical_item_category_id, (IEnumerable<SelectListItem>)ViewBag.categoryList, "-- Pilih --", new { @class = "form-control" })
        <span asp-validation-for="medical_item_category_id" class="text-danger"></span>
    </div>
    </br>
    <p>Kata kunci</p>
    <input type="search" class="form-control rounded btn-input" id="myInput" value="@ViewData["SearchText"]" placeholder="Cari Kata" aria-label="Search" aria-describedby="search-addon" />
    </br>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="obatbebas" id="obatbebas" value="obatbebas" checked>
        <label class="form-check-label" for="obatbebas">
            Hanya cari Obat ( bebas tanpa resep )
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="semuaobat" id="semuaobat" value="semuaobat">
        <label class="form-check-label" for="semuaobat">
            Cari semua obat ( termasuk obat keras)
        </label>
    </div>
    </br>
    <p>Harga</p>
    <form class="form-inline">
        <div class="col-3">
            <input type="number" class="form-control rounded btn-input" id="min" placeholder="RP 0" aria-label="Search" aria-describedby="search-addon" />
        </div>
        <div class="col-3">
            <input type="number" class="form-control rounded btn-input" id="max" placeholder="RP 100.000.000" aria-label="Search" aria-describedby="search-addon" />
        </div>
    </form>
    </br>
    <div class="col-auto align-content-center">
        <button type="button" class="btn btn-outline-primary " id="ulangi" href="#"> Atur Ulang </button>
        <button type="button" class="btn btn-primary btn-search" id="searching"> Cari </button>
    </div>
    </br>
</div>

@section Scripts{
    <script type="text/javascript">
        var currentPage = 1;
        var rowsPerpage = 5;
        var currentSearch = "";
        $(document).ready(function () {
            GetList(currentPage, rowsPerpage, currentSearch);
        })

        function GetList(page, rows, search) {
            currentPage = page;
            rowsPerpage = rows;
            currentSearch = search;
            $.ajax({
                url: '@Url.Action("ListPage")',
                type: 'get',
                data: { page: page, rows: rowsPerpage, search: currentSearch},
                success: function (result) {
                    $("#panel-body").html(result)
                }
            });
        }

        $('.btn-search').click(function () {
            GetList(currentPage, rowsPerpage, $('#myInput').val());
        });

    </script>
}