﻿@model ViewModel.MedItemViewModel

<h5>Are you sure you want to delete this?</h5>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.medical_item_category_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.medical_item_category_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.composition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.composition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.medical_item_segmentation_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.medical_item_segmentation_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.manufacturer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.indication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.indication)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dosage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dosage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.directions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.directions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contraindication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contraindication)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.caution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.caution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.packaging)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.packaging)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price_max)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price_max)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price_min)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price_min)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.image_path)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.image_path)
        </dd>
    </dl>
    
    <form asp-action="Delete" method="post" id="form-delete" name="form-delete">
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.name)
        @Html.HiddenFor(model => model.medical_item_category_id)
        @Html.HiddenFor(model => model.composition)
        @Html.HiddenFor(model => model.medical_item_segmentation_id)
        @Html.HiddenFor(model => model.manufacturer)
        @Html.HiddenFor(model => model.indication)
        @Html.HiddenFor(model => model.dosage)
        @Html.HiddenFor(model => model.directions)
        @Html.HiddenFor(model => model.contraindication)
        @Html.HiddenFor(model => model.caution)
        @Html.HiddenFor(model => model.packaging)
        @Html.HiddenFor(model => model.price_max)
        @Html.HiddenFor(model => model.price_min)
        @Html.HiddenFor(model => model.image)
        @Html.HiddenFor(model => model.image_path)
        <input type="button" value="Cancle" data-dismiss="modal" class="btn btn-secondary" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
<script>
        $('#form-delete').submit(function () {
            var dataForm = new FormData($(this)[0]);
            console.log(dataForm);
            $.ajax({
                url: this.action,
                type: this.method,
                data: dataForm,
                processData: false,
                contentType: false,
                success: function (result) {
                    $('.modal-body').html(result);
                }
            })
            return false;
        });
</script>
