﻿@model ViewModel.MedItemViewModel

<tbody>
    <tr>
        <th scope="row"> Nama Produk </th>
        <td>&nbsp; @Html.DisplayFor(model => model.name)</td>
    </tr>
    <tr>
        <th scope="row"> Kategori Sakit </th>
        <td>&nbsp; @Html.DisplayFor(model => model.categoryName)</td>
    </tr>
    <tr>
        <th scope="row"> Komposisi </th>
        <td>&nbsp; @Html.DisplayFor(model => model.composition)</td>
    </tr>
    <tr>
        <th scope="row"> Segmentasi Obat </th>
        <td>&nbsp; @Html.DisplayFor(model => model.segmentationName)</td>
    </tr>
    <tr>
        <th scope="row"> Produsen </th>
        <td>&nbsp; @Html.DisplayFor(model => model.manufacturer)</td>
    </tr>
    <tr>
        <th scope="row"> Indikasi </th>
        <td>&nbsp; @Html.DisplayFor(model => model.indication)</td>
    </tr>
    <tr>
        <th scope="row"> Dosis </th>
        <td>&nbsp; @Html.DisplayFor(model => model.dosage)</td>
    </tr>
    <tr>
        <th scope="row"> Petunjuk </th>
        <td>&nbsp; @Html.DisplayFor(model => model.directions)</td>
    </tr>
    <tr>
        <th scope="row"> Kontra Indikasi </th>
        <td>&nbsp; @Html.DisplayFor(model => model.contraindication)</td>
    </tr>
    <tr>
        <th scope="row"> Perhatian </th>
        <td>&nbsp; @Html.DisplayFor(model => model.caution)</td>
    </tr>
    <tr>
        <th scope="row"> Bungkus </th>
        <td>&nbsp; @Html.DisplayFor(model => model.packaging)</td>
    </tr>
    <tr>
        <th scope="row"> Harga </th>
        <td>&nbsp; Rp @Html.DisplayFor(model => model.price_min) - Rp @Html.DisplayFor(model => model.price_max)</td>
    </tr>
</tbody>

<input type="button" value="Close" data-dismiss="modal" class="btn btn-secondary" />
