﻿@model ViewModel.MedItemViewModel

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" method="post" id="form-edit" name="form-edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.id)
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="medical_item_category_id" class="control-label"></label>
                @Html.DropDownListFor(model => model.medical_item_category_id, (IEnumerable<SelectListItem>)ViewBag.CategoryList, "Select Category", new { @class = "form-control" })
                <span asp-validation-for="medical_item_category_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="composition" class="control-label"></label>
                <input asp-for="composition" class="form-control" />
                <span asp-validation-for="composition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="medical_item_segmentation_id" class="control-label"></label>
                <input asp-for="medical_item_segmentation_id" class="form-control" />
                <span asp-validation-for="medical_item_segmentation_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="medical_item_segmentation_id" class="control-label"></label>
                @Html.DropDownListFor(model => model.medical_item_segmentation_id, (IEnumerable<SelectListItem>)ViewBag.SegmentationList, "Select Segmentation", new { @class = "form-control" })
                <span asp-validation-for="medical_item_segmentation_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="manufacturer" class="control-label"></label>
                <input asp-for="manufacturer" class="form-control" />
                <span asp-validation-for="manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="indication" class="control-label"></label>
                <input asp-for="indication" class="form-control" />
                <span asp-validation-for="indication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dosage" class="control-label"></label>
                <input asp-for="dosage" class="form-control" />
                <span asp-validation-for="dosage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="directions" class="control-label"></label>
                <input asp-for="directions" class="form-control" />
                <span asp-validation-for="directions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contraindication" class="control-label"></label>
                <input asp-for="contraindication" class="form-control" />
                <span asp-validation-for="contraindication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="caution" class="control-label"></label>
                <input asp-for="caution" class="form-control" />
                <span asp-validation-for="caution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="packaging" class="control-label"></label>
                <input asp-for="packaging" class="form-control" />
                <span asp-validation-for="packaging" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price_max" class="control-label"></label>
                <input asp-for="price_max" class="form-control" />
                <span asp-validation-for="price_max" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price_min" class="control-label"></label>
                <input asp-for="price_min" class="form-control" />
                <span asp-validation-for="price_min" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="image" class="control-label"></label>
                <input asp-for="image" class="form-control" />
                <span asp-validation-for="image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="image_path" class="control-label"></label>
                <input asp-for="image_path" class="form-control" />
                <span asp-validation-for="image_path" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
    $('#form-edit').submit(function () {
        var dataForm = new FormData($(this)[0]);
        console.log(dataForm);
        $.ajax({
            url: this.action,
            type: this.method,
            data: dataForm,
            processData: false,
            contentType: false,
            success: function (result) {
                $('.modal-body').html(result);
            }
        })
        return false;
    });
</script>

