﻿@model IEnumerable<ViewModel.MedItemViewModel>
@*<table class="table">
        <thead>
            <tr>
                <th>Gambar</th>
                <th>Nama Obat</th>
                <th>Deskripsi</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@Html.DisplayFor(modelItem => item.image_path)</th>
                    <th>@Html.DisplayFor(modelItem => item.name)</th>
                    <th>
                        <ul>
                            <li>
                                @Html.DisplayFor(modelItem => item.packaging)
                            </li>
                            <li>
                                Rp @Html.DisplayFor(modelItem => item.price_min) - Rp @Html.DisplayFor(modelItem => item.price_max)
                            </li>
                            <li>
                                @Html.DisplayFor(modelItem => item.indication)
                            </li>
                        </ul>
                    </th>
                    <td>
                        <div class="btn-group btn-group-toggle" role="group" data-toggle="buttons">
                            <button class="btn btn-primary btn-edit" data-id="@item.id"><i class="fa fa-edit"></i></button>
                            <button class="btn btn-danger btn-delete" data-id="@item.id"><i class="fa fa-trash"></i></button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@
<div class="container">
    <form class="form-inline">
        <div class="input-group input-group-sm">
            <p>
                Hasil Pencarian Berdasarkan Kata Kunci : Kategori sakit @ViewBag.itemCat @ViewData["kategori"], Nama Produk : @ViewData["SearchText"], Segmentasi
            </p>
        </div>
        <button type="button" class="btn btn-outline-primary ml-auto btn-cari"> Atur Ulang </button>
    </form>
</div>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">@Html.DisplayFor(modelItem => item.name)</h5>
                        <img src="@item.image" style="max-width:200px; max-height: 200px;" />
                        <p class="card-text">
                            <ul>
                                <li>
                                    @Html.DisplayFor(modelItem => item.packaging)
                                </li>
                                <li>
                                    Rp @Html.DisplayFor(modelItem => item.price_min) - Rp @Html.DisplayFor(modelItem => item.price_max)
                                </li>
                                <li>
                                    @Html.DisplayFor(modelItem => item.indication)
                                </li>
                            </ul>
                        </p>
                        <button class="btn btn-primary btn-tambahkeranjang" onclick="myFunction()">Tambah Keranjang</button>
                        <button class="btn btn-outline-primary btn-detail" data-id="@item.id">Detail</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination ml-auto">
        @for (int I = 1; I <= ViewBag.Pages; I++)
        {
            <li class="page-item"><a class="page-link btn-link-page" data-id="@I" onclick="GetList(@I, rowsPerpage, currentSearch)">@I</a></li>
        }
    </ul>
</nav>

<p class="text-lg-center">@ViewBag.Cari</p>

<script>
    $('.btn-detail').click(function () {
       $.ajax({
            url: '@Url.Action("Details")',
            type: 'get',
            data: { id: $(this).attr('data-id')},
            success: function (result) {
                $('.modal-title').html('Details');
                $('.modal-body').html(result);
                $('#exampleModal').modal('show');
            }
        })
    })

    $('.btn-edit').click(function () {
        $.ajax({
            url: '@Url.Action("Edit")',
            type: 'get',
            data: { id: $(this).attr('data-id')},
            success: function (result) {
                $('.modal-title').html('Edit');
                $('.modal-body').html(result);
                $('#exampleModal').modal('show');
            }
        })
    })


    $('.btn-delete').click(function () {
       $.ajax({
            url: '@Url.Action("Delete")',
            type: 'get',
            data: { id: $(this).attr('data-id')},
            success: function (result) {
                $('.modal-title').html('Delete');
                $('.modal-body').html(result);
                $('#exampleModal').modal('show');
            }
        })
    })

    $('.btn-cari').click(function() {
            $.ajax({
                url: '@Url.Action("Cari")',
                type: 'get',
                success: function(result) {
                    $('.modal-body').html(result);
                }
            })
            $('.modal-title').html('Cari Obat dan Alat kesehatan');
            $('#exampleModal').modal('show');
        })

    //$('#btn-tambahkeranjang').click(function () {
    //    $('#panel-footer').html('show');
    //})

    function myFunction() {
        var x = document.getElementById("panel-footer");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

</script>
