﻿@model ViewModel.MedItemViewModel
@{ 
    string customStyle = "";
    switch (ViewBag.Title)
    {
        case "Create":
            customStyle = "text-success";
            break;
        case "Edit":
            customStyle = "text-warning";
            break;
        default:
            customStyle = "text-danger";
            break;
    }

}
<h2 class="@customStyle">@ViewBag.Title  Successful</h2>
<p>@Html.DisplayFor(model => model.name) already @ViewBag.Status!</p>
<input type="button" value="Close" data-dismiss="modal" class="btn btn-secondary" />
<script>
    $(document).ready(function () {
        GetList();
    });
</script>