﻿@model ViewModel.MedItemViewModel
@{ ViewData["Title"] = "M_medical_item"; }

<div class="card">
    <div class="card-body">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Obat dan Alat Kesehatan</li>
        </ol>
        <div class="table-responsive" id="panel-body">
            Loading.....
        </div>
        <div class="card-footer" id="panel-footer">
            <div class="container">
                <form class="form-inline">
                    <div class="input-group input-group-sm">
                        <p>
                            1 Produk | estimasi harga: Rp 50000
                        </p>
                    </div>
                    <button type="button" class="btn btn-primary ml-auto"><i class="fa fa-shopping-cart"></i> Keranjang saya</button>
                </form>
            </div>
        </div>
    </div>

</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-label">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="col-12">
                        <p>Masukkan minimal 1 kata kunci untuk pencarian anda</p>
                    </div>
                    <div class="col-12">
                        <p>Kategori</p>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.medical_item_category_id, (IEnumerable<SelectListItem>)ViewBag.itemCat, "-- Pilih --", new { @class = "form-control" })
                            <span asp-validation-for="medical_item_category_id" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.medical_item_category_id, (IEnumerable<SelectListItem>)ViewData["kategori"], "-- Testdapetgak --", new { @class = "form-control" })
                            <span asp-validation-for="medical_item_category_id" class="text-danger"></span>
                        </div>
                    </div>
                    </br>
                    <div class="col-12">
                        <p>Kata kunci</p>
                        <input type="search" class="form-control rounded btn-input" id="myInput" value="@ViewData["SearchText"]" placeholder="Cari Kata" aria-label="Search" aria-describedby="search-addon" />
                    </div>
                    </br>
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="obatbebas" id="obatbebas" value="obatbebas" checked>
                            <label class="form-check-label" for="obatbebas">
                                Hanya cari Obat ( bebas tanpa resep )
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="semuaobat" id="semuaobat" value="semuaobat">
                            <label class="form-check-label" for="semuaobat">
                                Cari semua obat ( termasuk obat keras)
                            </label>
                        </div>
                    </div>
                    </br>
                    <div class="col-12">
                        <p>Harga</p>
                        <form class="form-inline">
                            <input type="number" class="form-control col-5 rounded btn-input" id="min" placeholder="RP 0" aria-label="Search" aria-describedby="search-addon" />
                            <p> &nbsp; Sampai &nbsp; </p>
                            <input type="number" class="form-control col-5 rounded btn-input" id="max" placeholder="RP 1.000.000" aria-label="Search" aria-describedby="search-addon" />
                        </form>
                    </div>
                    </br>
                    <div class="col-9 flex-fill">
                        <button type="button" class="btn btn-outline-primary " id="ulangi" href="#"> Atur Ulang </button>
                        <button type="button" class="btn btn-primary btn-search" id="searching"> Cari </button>
                    </div>
                    </br>
                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        var currentPage = 1;
        var rowsPerpage = 6;
        var currentSearch = "";
        $(document).ready(function() {
            GetList(currentPage, rowsPerpage, currentSearch);
        })

        function GetList(page, rows, name) {
            currentPage = page;
            rowsPerpage = rows;
            currentSearch = name;
            $.ajax({
                url: '@Url.Action("ListPage")',
                type: 'get',
                data: { page: page, rows: rowsPerpage, name: currentSearch },
                success: function(result) {
                    //console.log(result)
                    $('#exampleModal').modal('hide');
                    $("#panel-body").html(result)
                }
            });
        }
        $('.btn-search').click(function() {
            GetList(currentPage, rowsPerpage, $('#myInput').val());
            //console.log($('#myInput').val())
        });


        $('.btn-cari').click(function() {
            $.ajax({
                url: '@Url.Action("Cari")',
                type: 'get',
                success: function(result) {
                    $('.modal-body').html(result);
                }
            })
            $('.modal-title').html('Cari Obat dan Alat kesehatan');
            $('#exampleModal').modal('show');
        })

        $('#btn-tambahkeranjang').click(function() {
            $('#panel-footer').show();
        })

    </script>
}

