﻿@model ViewModel.FacilityCategoryViewModel

<h5>Anda akan menghapus kategori @Html.DisplayFor(model => model.name) ?</h5>
<div>
    <form asp-action="Delete" method="post" id="form-delete" name="form-delete">
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.name)
        <input type="button" value="Tidak" data-dismiss="modal" onclick="GetList()" class="btn btn-warning" />
        <input type="submit" value="Ya" class="btn btn-info" />
    </form>
</div>

<script>
    $('#form-delete').submit(function () {
        var dataForm = new FormData($(this)[0]);
        $.ajax({
            url: this.action,
            type: this.method,
            data: dataForm,
            processData: false,
            contentType: false,
            success: function(result) {
                $('.modal-body').html(result);
            }
        })
        return false;
    });
</script>