﻿@model ViewModel.FacilityCategoryViewModel
@{
    string customStyle = "";
    switch (ViewBag.Title)
    {
        case "Tambah":
            customStyle = "text-success";
            break;
        case "Ubah":
            customStyle = "text-warning";
            break;
        default:
            customStyle = "text-danger";
            break;
    }
}
<h3 class="@customStyle"}>@ViewBag.Title</h3>
<p>@Html.DisplayFor(model => model.name) @ViewBag.Body!</p>
<input type="button" value="Close" data-dismiss="modal" onclick="GetList()" class="btn btn-secondary" />
<script type="text/javascript">
    $(document).ready(function () {
        GetList();
    });
</script>