﻿@model IEnumerable<ViewModel.DoctorTreatmentViewModel>

<div class="container emp-profile">
	<form method="post">
		<div class="row">
			<div class="col-md-4">
				<div class="card text-center">
					<p></p>
					<i class="col-md-12 fa fa-pencil" aria-hidden="true"></i>
					<div class="profile-img">
						<p>
							<img src="~/dist/img/tatjana.png" class="brand-image img-circle width="150" height="150" alt="Photo Profile">
						</p>
						<div class="profile-head">
							<h4 class="text-primary">
								dr. Tatjana Saphira, Sp.A
							</h4>
							<h6 class="font-weight-light">
								Spesialis Anak
							</h6>
							<a class="proile-rating"><span>⭐⭐⭐⭐⭐</span></a>
						</div>
						<p></p>
						<ul class="list-group">
							<li class="list-group-item d-flex justify-content-between align-items-center">
								<a href="#" class="text-decoration-none font-weight-bold">Janji</a>
								<span class="badge badge-danger badge-pill">3</span>
							</li>
						</ul>
						<ul class="list-group">
							<li class="list-group-item d-flex justify-content-between align-items-center">
								<a href="#" class="text-decoration-none font-weight-bold">Obrolan / Konsultasi</a>
								<span class="badge badge-danger badge-pill">2</span>
							</li>
						</ul>
						@*							<div>
						<input id="image" type="file" name="profile_photo" placeholder="Photo" required="" capture>
						</div>*@
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="card">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Tindakan</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="home-tab1" data-toggle="tab" href="#Aktifitas" role="tab" aria-controls="prof" aria-selected="false">Aktifitas</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="home-tab2" data-toggle="tab" href="#Konsultasi" role="tab" aria-controls="prof1" aria-selected="false">Konsultasi</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="home-tab3" data-toggle="tab" href="#Pengaturan" role="tab" aria-controls="prof2" aria-selected="false">Pengaturan</a>
						</li>
					</ul>
					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" id="tabpanel0" class="tab-pane" id="home"></div>
						<div role="tabpanel" id="tabpanel1" class="tab-pane" id="prof">Ini Halaman Aktifitas</div>
						<div role="tabpanel" id="tabpanel2" class="tab-pane" id="prof2">Ini Halaman Konsultasi</div>
						<div role="tabpanel" id="tabpanel3" class="tab-pane" id="prof3">Ini Halaman Pengaturan</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="card">
					<div class="col-md-12 text-left">
						<p></p>
						<p class="text-primary font-weight-bolder">Tentang Saya</p>
						<p class="text-primary font-weight-bold">Tindakan Medis</p>
						<div class="col-md-12 text-left">
							@foreach (var item in Model)
							{
								
									<a>- @item.name</a><br />
								
							}
						</div>
						<p></p>
						<p class="text-primary font-weight-bold">Riwayat Praktek</p>
						<div class="col-md-12 text-left">
							<a>RS Mitra, Depok</a>
							<pre>Dokter Anak	2019 - sekarang</pre>
							<a>RSIA Bunda, Jakarta Pusat</a>
							<pre>Dokter Anak	2018 - sekarang</pre>
							<a>RSUP Hasan Sadikin, Bandung</a>
							<pre>Dokter Anak	    2016 - 2018</pre>
						</div>
						<p class="text-primary font-weight-bold">Pendidikan</p>
						<div class="col-md-12 text-left">
							<a>Universitas Padjajaran</a>
							<pre>Spesialis Anak		   2016</pre>
							<a>Universitas Padjajaran</a>
							<pre>Keddokteran Umuum	   2011</pre><br />
						</div>
					</div>
				</div>
			</div>
			@*<div class="col-md-8">
			<div class="tab-content profile-tab" id="myTabContent">
			<div class="tab-panel fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
			</div>
			<div class="tab-panel fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
			</div>
			</div>
			</div>*@
		</div>
	</form>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modal-label">Modal title</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				...
			</div>
			@*<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary">Save changes</button>
			</div>*@
		</div>
	</div>
</div>

@section Scripts{
	<script type="text/javascript">
		$(document).ready(function() {
			//alert("Hello!");
			GetList();
			//GetTindakam();
		});

		//function GetList() {
		//	$.ajax({
		//		url: '@Url.Action("List")',
		//		type: 'get',
		//		success: function(result) {
		//			$('#panel-body').html(result)
		//		}
		//	})
		//}
		function GetList() {
			$.ajax({
				url: '@Url.Action("List", "DoctorTreatment")',
				type: 'get',
				success: function(result) {
					$('#tabpanel0').html(result)
					$('#tabpanel0').addClass("active");
					$('#home-tab').addClass("active");
				}
			})
		}
	</script>
}